/*----------------------------------------------------------------*\

		GREAT ANIMATION RESOURCES
		resource: daneden.github.io/animate.css/
		resource: ianlunn.github.io/Hover/

\*----------------------------------------------------------------*/

@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@-moz-keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}