/*----------------------------------------------------------------*\
		BUTTONS
\*----------------------------------------------------------------*/
button,
.button,
.wp-block-button__link,
input[type="submit"] {
	cursor: pointer;
	margin: 0.5em 1em;
	padding: 0.75em 2.75em;
	box-shadow: none;
	border: none;
	position: relative;
	background-color: var(--Yellow);
	font-size: 26px;
	font-weight: bold;
	color: var(--Black);
	text-decoration: none;

	&:hover,
	&:focus {
		background-color: var(--Mint);
	}

	&.back {
		transition: all .25s cubic-bezier(0.5, 0.05, 0.5, 1);
		background-color: transparent;
		padding: 0 0 0 2.5em;
		margin: 0;
		font-size: 18px;
		font-style: italic;

		&:hover,
		&:focus {
			background-color: transparent;

			&:after {
				left: -.5em;
			}
		}

		&:after {
			content: '';
			position: absolute;
			top: calc(50% - 1em);
			left: 0;
			background-image: url(../images/arrow.svg);
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			opacity: 1;
			transition: all .25s cubic-bezier(0.5, 0.05, 0.5, 1);
			width: 1.5em;
			height: 2em;
			transform: scaleX(-1);
		}
	}

	&.anchor {
		transition: all .25s cubic-bezier(0.5, 0.05, 0.5, 1);
		background-color: transparent;
		padding: 0 1.5em 0 0;
		margin: 0;

		&:hover,
		&:focus {
			background-color: transparent;

			&:after {
				opacity: 1;
			}
		}

		&:after {
			content: '';
			position: absolute;
			top: calc(60% - .5em);
			right: 0;
			background-image: url(../images/arrow.svg);
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			opacity: 0;
			transition: all .25s cubic-bezier(0.5, 0.05, 0.5, 1);
			width: 1em;
			height: 1em;
			transform: rotate(90deg);
		}
	}
}

.wp-block-button {
	margin: 0 auto;

	&.alignleft .wp-block-button__link {
		float: left;
		margin: 0.5em 1em 0.5em 0;
	}

	&.alignright .wp-block-button__link {
		float: right;
		margin: 0.5em 0 0.5em 1em;
	}

	&.aligncenter .wp-block-button__link {
		display: inline-block;
		margin: 1em auto;
	}
}