/*----------------------------------------------------------------*\
		FORMS
\*----------------------------------------------------------------*/

form {
	max-width: var(--SmallWidth);
	width: 100%;
	margin: 0 auto;

	&.post-password-form {
		margin: 4em auto;
		padding: 2em;

		& label {
			width: 100%;
		}

		& input[type="submit"] {
			-webkit-appearance: none;
			margin: 0.5em 0;
			width: auto;
		}
	}

	& button,
	& .button {
		margin: 1em 0 0 0;
	}

	& ul {
		list-style: none;
		margin: 0;
		padding: 0;

		&.gfield_checkbox li,
		&.gfield_radio li {
			margin: 0;
			width: auto;
		}
	}

	& li {
		display: inline-block;
		float: left;
		width: 100%;
		margin-bottom: 2em;
		line-height: 1.5;

		&.hidden_label {
			&>label {
				display: none;
			}
		}

		&.are-stacked li {
			display: block;
			float: none;
		}

		&.half {
			width: 100%;
			margin-left: 0;
			margin-right: 0;

			@media(--800vp) {
				width: 49%;
				margin-right: 1%;

				&.last {
					margin-right: 0;
					margin-left: 1%;
				}
			}
		}

		&.third {
			width: 100%;
			margin-left: 0;
			margin-right: 0;

			@media(--800vp) {
				width: 32.33%;
				margin: 0 .5%;

				&.first {
					margin-left: 0;
					margin-right: 1%;
				}

				&.last {
					margin-right: 0;
					margin-left: 1%;
				}
			}
		}
	}
}

.gform_ajax_spinner {
	display: none !important;
}

.validation_message {
	display: none;
}

.gfield_visibility_hidden {
	max-height: 0;
	margin: 0;
	overflow: hidden;
}

.gform_confirmation_message {
	font-size: 24px;
}

.gform_footer {
	clear: both;
}

.gfield_html {
	& p {
		font-size: 24px;
		font-family: "miller-text", serif;
	}
}

/*---------------------------------------*\
    LABELS
\*---------------------------------------*/

label {
	display: inline-block;
	padding: .5em 0;
	font-size: 16px;
	font-family: "tenso", sans-serif;
	font-weight: 700;
	position: relative;
	text-transform: uppercase;

	&.gfield_label::before {
		content: "(optional)";
		position: absolute;
		font-size: .65em;
		top: 50%;
		left: calc(100% + 6px);
		transform: translateY(-50%);
	}
}

li.gfield_contains_required {

	&>label::before,
	& .gfield_required {
		display: none;
	}
}

.ginput_container label,
.charleft,
input[type="file"]+span {
	font-size: .75rem;
	margin-top: .5em;
	margin-bottom: .5rem;
	width: 100%;

	&::before {
		display: none;
	}
}

.ginput_container_fileupload {
	display: flex;
	flex-wrap: wrap;
}

/*---------------------------------------*\
    INPUTS
\*---------------------------------------*/

input {
	font-family: "tenso", sans-serif;
	border: 1px solid transparent;
	width: 100%;
	padding: 1em .5em;
	background-position: center right 1em;
	background-repeat: no-repeat;
	background-size: 1.25em;
	background-color: var(--Gray);
	font-size: 18px;

	&:focus {
		outline: none;
		border-color: var(--Black);
	}

	&.is-activated,
	&.LV_valid_field {
		/* valid styles */
	}

	&.LV_invalid_field {
		background-image: url(../images/input_error.svg);
		border-bottom: 3px solid var(--Orange);
	}
}

/*---------------------------------------*\ 
FILE UPLOAD 
\*---------------------------------------*/

.ginput_container_fileupload {
	height: 49px;
	width: 255px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid var(--Black);
	color: var(--Black);
	cursor: pointer;

	&:hover,
	&:focus {
		background-color: var(--Mint);
	}

	&::before {
		content: "Choose File";
		display: inline-block;
		background-color: transparent;
		color: var(--Black);
		font-family: "tenso", sans-serif;
		font-style: normal;
		font-weight: 700;
		padding: .5em 1em;
		cursor: pointer;
		outline: 0;
		white-space: nowrap;
		-webkit-user-select: none;
		cursor: pointer;
		font-size: 18px;
		width: 255px;
		text-align: center;
	}

	&.file-uploaded::before {
		content: "Change File";
		background-color: var(--Mint);
	}
}

input[type="file"] {
	height: 43px;
	width: 255px;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	cursor: pointer;
}

input[type="file"]::-webkit-file-upload-button,
input[type="file"]::-ms-browse {
	visibility: hidden;
}

/*---------------------------------------*\
    RADIO / CHECKBOXES
\*---------------------------------------*/

input[type="radio"] {
	width: 14px;
	height: 14px;
	border-radius: 50%;
	margin: 0 .25em 0 .5em;
	vertical-align: baseline;
	appearance: none;

	&:checked {
		background-color: var(--Black);
		border-color: var(--Black);
	}

	&+label {
		display: inline-block;
		font-size: 1rem;
		margin: 0;

		&::before {
			display: none;
		}
	}
}

input[type="checkbox"] {
	width: 14px;
	height: 14px;
	border-radius: 4px;
	margin: 0 .25em 0 .5em;
	vertical-align: baseline;
	appearance: none;

	&:checked {
		background-color: var(--Black);
		border-color: var(--Black);
	}

	&+label {
		display: inline-block;
		font-size: 1rem;
		margin: 0;

		&::before {
			display: none;
		}
	}
}

/*---------------------------------------*\
    SELECT
\*---------------------------------------*/

select {
	/* display: none; */
	border: 1px solid transparent;

	&:focus {
		outline: none;
		border-color: var(--Black);
	}

	&.is-activated,
	&.LV_valid_field {
		/* valid styles */
	}

	&.LV_invalid_field {
		background-image: url(../images/input_error.svg);
	}
}

.ginput_container_select {
	position: relative;
	max-width: 350px;
	display: table;

	& select {
		display: none;
	}
}

.select-selected {
	background-color: var(--Gray);
	font-weight: 700;

	&:focus {
		outline: none;
		border-color: var(--Black);
	}

	&:after {
		position: absolute;
		content: '';
		top: calc(50% - .5em + 5px);
		right: .5em;
		width: 1em;
		height: 1em;
		background-position: center;
		background-repeat: no-repeat;
		background-size: 1em;
		background-image: url(../images/select_arrow.svg);
	}
}

/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
	color: var(--Black);
	padding: .5em;
	font-size: 25px;
	border: 1px solid transparent;
	cursor: pointer;
	line-height: 1;
}

/* Style items (options): */
.select-items {
	position: absolute;
	background-color: var(--Gray);
	top: 100%;
	left: 0;
	right: 0;
	z-index: 99;
	padding: .5em;
}

/* Hide the items when the select box is closed: */
.select-hide {
	display: none;
}

.select-items div:hover,
.same-as-selected {
	font-weight: 700;
}

/*---------------------------------------*\
    TEXTAREA
\*---------------------------------------*/

textarea {
	font-family: "tenso", sans-serif;
	border: 1px solid transparent;
	padding: 1em .5em;
	width: 100%;
	background-position: center right 1em;
	background-repeat: no-repeat;
	background-size: 1.25em;
	background-color: var(--Gray);
	font-size: 18px;

	&:focus {
		outline: none;
		border-color: var(--Black);
	}

	&.is-activated,
	&.LV_valid_field {
		/* valid styles */
	}

	&.LV_invalid_field {
		background-image: url(../images/input_error.svg);
		border-bottom: 3px solid var(--Orange);
	}
}

/*---------------------------------------*\
    NAME
\*---------------------------------------*/

.ginput_container_name {
	display: flex;
	flex-wrap: wrap;

	&>span {
		width: 100%;
		margin-left: 0;
		margin-right: 0;

		@media(--800vp) {
			width: 49%;
			margin-right: 1%;

			&.name_last {
				margin-right: 0;
				margin-left: 1%;
			}
		}
	}
}

/*---------------------------------------*\
    ADDRESS
\*---------------------------------------*/

.ginput_container_address {
	display: flex;
	flex-wrap: wrap;

	& .address_line_1,
	& .address_line_2 {
		width: 100%;
	}

	& .address_city,
	& .address_state,
	& .address_zip {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}

	@media(--800vp) {

		& .address_city,
		& .address_state,
		& .address_zip {
			width: 32.33%;
			margin: 0 .5%;
		}

		& .address_city {
			margin-left: 0;
			margin-right: 1%;
		}

		& .address_zip {
			margin-right: 0;
			margin-left: 1%;
		}
	}
}

/*---------------------------------------*\
    TIME
\*---------------------------------------*/

.clear-multi::after {
	content: '';
	clear: both;
	display: block;
}

.gfield_time_hour {
	width: calc(33% - .5em);
	margin-right: .5em;
	float: left;

	& i {
		display: none;
	}
}

.gfield_time_minute {
	width: calc(33% - .5em);
	margin-right: .5em;
	float: left;
}

.gfield_time_ampm {
	width: 33%;
	float: left;
}

/*---------------------------------------*\
    DATEPICKER
\*---------------------------------------*/

#ui-datepicker-div {
	background: #FFF;
	border: 1px solid #ddd;
	border-radius: 4px;
	box-shadow: 0px 3px 5px 0px rgba(50, 50, 50, 0.75);
	display: none;
	padding: 20px;
	width: 300px;

	& .ui-icon {
		color: transparent;
		cursor: pointer;
		font-size: 0px;
	}

	& .ui-icon:before {
		color: var(--Primary);
		font-size: 18px;
	}

	& .ui-datepicker-prev {
		float: left;
		width: 10%;
		line-height: 30px;

		& .ui-icon:before {
			content: '<';
		}

		&.ui-state-disabled {
			display: none;
		}
	}

	& .ui-datepicker-next {
		float: right;
		width: 10%;
		line-height: 30px;

		& .ui-icon:before {
			content: '>';
			float: right;
		}

		&.ui-state-disabled {
			display: none;
		}
	}

	& .ui-datepicker-title {
		display: flex;

		& select {
			width: 100%;
			padding: 2px;
			margin: 0 1px 10px 1px;
		}
	}

	& .ui-datepicker-today {
		background-color: var(--Primary);
		border-radius: 4px;

		& a {
			color: #FFF;
		}
	}

	& table {
		width: 100%;

		& td,
		& th {
			text-align: center;
		}

		& td {
			& a {
				display: block;
				padding: 5px;
			}
		}
	}
}

/*---------------------------------------*\
    PAYMENT
\*---------------------------------------*/

.gfield.credit-card>label {
	position: initial;
}

.ginput_container_creditcard {

	& input.is-activated,
	& input.LV_valid_field {
		background-image: none;
	}

	& .gform_card_icon_container {
		display: flex;
		flex-wrap: wrap;

		& .gform_card_icon {
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 1.5rem;
			width: 35px;
			height: 35px;
			margin: 0 .5rem 0 0;
			text-indent: -100000px;
			overflow: hidden;
		}

		& .gform_card_icon_amex {
			background-image: url('../images/CC-american-express.svg');
		}

		& .gform_card_icon_discover {
			background-image: url('../images/CC-discover.svg');
		}

		& .gform_card_icon_mastercard {
			background-image: url('../images/CC-mastercard.svg');
		}

		& .gform_card_icon_visa {
			background-image: url('../images/CC-visa.svg');
		}

		& .gform_card_icon_jcb {
			background-image: url('../images/CC-jcb.svg');
		}
	}

	& .ginput_cardextras {
		display: flex;
		flex-wrap: wrap;
	}

	& .ginput_cardinfo_left {
		width: 66%;

		& .ginput_card_field {
			display: flex;
			flex-wrap: wrap;

			& select {
				width: calc(50% - 1em);
				margin: 0 1em 0 0;
			}

			& label {
				width: 100%;
			}
		}
	}

	& .ginput_cardinfo_right {
		width: 33%;
		display: flex;
		flex-wrap: wrap;

		& input {
			width: calc(100% - 1em);
			margin: 0 1em 0 0;
		}

		& span {
			display: none;
		}

		& label {
			width: 100%;
		}
	}
}