/*-----------------------------------*\
	IMAGES
\*-----------------------------------*/
.wp-block-image {
  margin: 1em auto;
  max-width: 800px;
  width: 90%;

  &.alignwide {
    margin: 4em auto;
    max-width: 1024px;
  }

  &.alignfull {
    margin: 4em auto;
    max-width: 100%;
    width: 100%;
  }

  & img {
    display: block;
    margin: 0 auto;
  }
}

.wp-block-image {
  & .alignleft {
    display: block;
    float: none;
    margin-right: auto;
    margin-left: auto;
    width: 90%;

    @media(--500vp) {
      float: left;
      margin-right: 1em;
      width: auto;
    }
  }

  & .alignright {
    display: block;
    float: none;
    margin-right: auto;
    margin-left: auto;
    width: 90%;

    @media(--500vp) {
      float: right;
      margin-left: 1em;
      width: auto;
    }
  }
}

/*-----------------------------------*\
	IMAGE COVERS
\*-----------------------------------*/
.wp-block-cover-image,
.wp-block-cover {
  margin: 4em auto;
  margin-right: auto;
  margin-left: auto;

  &.alignleft,
  &.alignright,
  &.aligncenter {
    max-width: 800px;
  }

  &.alignwide {
    max-width: 1024px;
  }

  &.alignfull {
    max-width: 100%;
    width: 100%;
  }

  & p {
    margin: 0;
  }
}

/*-----------------------------------*\
	GALLERY
\*-----------------------------------*/
ul.wp-block-gallery {
  margin: 4rem auto;

  &.alignleft,
  &.alignright,
  &.aligncenter {
    max-width: 800px;
    width: 90%;
  }

  &.alignwide {
    max-width: 1024px;
    width: 100%;
  }

  &.alignfull {
    max-width: 100%;
    width: 100%;
  }
}
