/*-----------------------------------*\
	QUOTES
\*-----------------------------------*/
blockquote,
.wp-block-quote,
.wp-block-quote.is-large,
.wp-block-quote.is-style-large {
	font-weight: 600;
	font-style: italic;

	& p {
		&:before {
			content: open-quote;
		}

		&:after {
			content: close-quote;
		}
	}
}

.wp-block-pullquote {
	& blockquote {
		font-weight: 600;
		font-style: italic;

		& p {
			&:before {
				content: open-quote;
			}

			&:after {
				content: close-quote;
			}
		}
	}
}