/*-----------------------------------*\
	FONT FAMILIES
\*-----------------------------------*/

.tenso-regular {
	font-family: "tenso", sans-serif;
	font-style: normal;
	font-weight: 400;
}

.tenso-regular-italic {
	font-family: "tenso", sans-serif;
	font-style: italic;
	font-weight: 400;
}

.tenso-bold {
	font-family: "tenso", sans-serif;
	font-style: normal;
	font-weight: 700;
}

.tenso-bold-italic {
	font-family: "tenso", sans-serif;
	font-style: italic;
	font-weight: 700;
}

.tenso-black {
	font-family: "tenso", sans-serif;
	font-style: normal;
	font-weight: 900;
}

.miller-text {
	font-family: "miller-text", serif;
	font-style: normal;
	font-weight: 400;
}

.miller-text-italic {
	font-family: "miller-text", serif;
	font-style: italic;
	font-weight: 400;
}

.miller-text-bold {
	font-family: "miller-text", serif;
	font-style: normal;
	font-weight: 700;
}

.miller-text-bold-italic {
	font-family: "miller-text", serif;
	font-style: italic;
	font-weight: 700;
}

/*-----------------------------------*\
	FONT SIZE PALETTE
\*-----------------------------------*/
.has-xs-font-size {
	font-size: 14px;
}

.has-small-font-size {
	font-size: 16px;
}

.has-medium-font-size {
	font-size: 18px;
}

.has-large-font-size {
	font-size: 24px;
}

.has-xl-font-size {
	font-size: 32px;
}

/*-----------------------------------*\
	HEADER
\*-----------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 1.5rem;
	margin-bottom: 1rem;
	letter-spacing: 0;
	font-family: "tenso", sans-serif;
	font-weight: 700;
	line-height: 1.5;
}

h1,
.h1 {
	font-size: 40px;

	@media(--800vp) {
		font-size: 70px;
	}
}

h2,
.h2 {
	font-size: 32px;

	@media(--800vp) {
		font-size: 55px;
	}
}

h3,
.h3 {
	font-size: 26px;

	@media(--800vp) {
		font-size: 35px;
	}
}

h4,
.h4 {
	font-size: 23px;

	@media(--800vp) {
		font-size: 26px;
	}
}

h5,
.h5 {
	font-size: 16px;

	@media(--800vp) {
		font-size: 25px;
	}
}

h6,
.h6 {
	font-size: 14px;

	@media(--800vp) {
		font-size: 16px;
	}
}

/*-----------------------------------*\
	PARAGRAPH
\*-----------------------------------*/
p {
	font-size: 15px;
	line-height: 1.5;

	@media(--800vp) {
		font-size: 18px;
	}

	&.is-large {
		font-size: 15px;

		@media(--800vp) {
			font-size: 28px;
		}
	}

	&.is-extra-large {
		font-size: 20px;
		line-height: 1.5;

		@media(--800vp) {
			font-size: 50px;
			line-height: 1.2;
		}
	}

	&.is-large-bold {
		font-size: 17px;
		font-weight: 700;

		@media(--800vp) {
			font-size: 28px;
		}
	}

	&.is-serif {
		font-family: "miller-text", serif;
	}

	&.is-serif-large {
		font-family: "miller-text", serif;
		font-size: 15px;

		@media(--800vp) {
			font-size: 20px;
		}
	}

	&.is-serif-extra-large {
		font-family: "miller-text", serif;
		font-size: 21px;

		@media(--800vp) {
			font-size: 50px;
		}
	}

	&.has-drop-cap:not(:focus)::first-letter {
		font-size: 6em;
	}

	& a {
		color: var(--Black);

		&:hover,
		&:focus {
			background-color: var(--Mint);
		}
	}
}

/*-----------------------------------*\
	LIST
\*-----------------------------------*/
ol,
ul {
	&.has-2-columns {
		column-count: 1;

		@media(--500vp) {
			column-count: 2;

			& li {
				padding-right: 1em;
			}
		}
	}

	&.has-3-columns {
		column-count: 1;

		@media(--500vp) {
			margin: 4em auto;
			max-width: 1024px;
			column-count: 3;

			& li {
				padding-right: 1em;
			}
		}
	}

	&.has-4-columns {
		column-count: 1;

		@media(--500vp) {
			column-count: 2;

			& li {
				padding-right: 1em;
			}
		}

		@media(--800vp) {
			margin: 4em auto;
			max-width: 1024px;
			column-count: 4;
		}
	}
}

/*-----------------------------------*\
	HORIZONTAL RULE
\*-----------------------------------*/
hr,
.wp-block-separator {
	margin: 3em auto;
	height: 3px;
	background-color: var(--Black);
	border: none;

	&.is-style-wide {
		margin: 6em auto;
		max-width: 1024px;
	}

	&.is-style-dots::before {
		font-weight: bold;
		font-size: 35px;
	}
}

/*-----------------------------------*\
	TABLE
\*-----------------------------------*/
table,
.wp-block-table {
	margin: 2rem auto;

	&.alignleft,
	&.alignright,
	&.aligncenter {
		max-width: 800px;
		width: 100%;
	}

	&.alignwide {
		width: 1024px;
	}

	&.alignfull {
		max-width: 90%;
	}
}