/*-----------------------------------*\
	DISPLAY RELATED POSTS VIA ACF RELATIONSHIP
\*-----------------------------------*/
section.acf-related-posts {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	max-width: var(--LargeWidth);
	margin: var(--LargeSpacing) auto;

	& article {
		width: 30%;
		border: 1px solid var(--Gray);
		padding: var(--SmallSpacing);

		& h2 {
			margin-top: 0;
		}
	}
}