/*----------------------------------------------------------------*\
	BRANDS
\*----------------------------------------------------------------*/
section.brands {
	padding: 0 2em;
	background-color: var(--Yellow);

	@media(--800vp) {
		padding: 0 4em;
	}

	&>div {
		display: flex;
		flex-wrap: wrap;
		padding: 4em 0;
		max-width: 900px;
		margin: 0 auto;

		@media(--800vp) {
			padding: 4em 2em;
		}

		& h4 {
			width: 100%;
			text-align: center;
			margin-bottom: 2em;

			@media(--800vp) {
				margin-bottom: 4em;
			}
		}

		&>div {
			width: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			margin-bottom: 1em;
			padding: 1em;

			@media(--800vp) {
				margin-bottom: 4em;
			}

			@media(--800vp) {
				width: 25%;
			}

			& img {
				width: auto;
				height: auto;

				&.universal {
					width: 85px;

					@media(--500vp) {
						width: auto;
					}
				}
				&.american-express {
					width: 45px;

					@media(--500vp) {
						width: auto;
					}
				}
				&.strohs {
					width: 75px;

					@media(--500vp) {
						width: auto;
					}
				}
				&.xenith {
					width: 69px;

					@media(--500vp) {
						width: auto;
					}
				}
				&.expedia {
					width: 94px;

					@media(--500vp) {
						width: auto;
					}
				}
				&.tigers {
					width: 37px;

					@media(--500vp) {
						width: auto;
					}
				}
				&.io {
					width: 45px;

					@media(--500vp) {
						width: auto;
					}
				}
				&.skis {
					width: 94px;

					@media(--500vp) {
						width: auto;
					}
				}
				&.halo {
					width: 67px;

					@media(--500vp) {
						width: auto;
					}
				}
				&.dave-and-busters {
					width: 64px;

					@media(--500vp) {
						width: auto;
					}
				}
				&.bon-bon-bon {
					width: 38px;

					@media(--500vp) {
						width: auto;
					}
				}
				&.regal {
					width: 85px;

					@media(--500vp) {
						width: auto;
					}
				}
			}
		}
	}
}