/*----------------------------------------------------------------*\
	FOUR COLUMNS
\*----------------------------------------------------------------*/
section.four-columns {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 2em 8em;

	@media(--800vp) {
		padding: 0 4em 8em;
	}

	&>div {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 0;
		text-align: center;

		@media(--800vp) {
			padding: 0 2em;
			text-align: left;
		}

		&>div {
			width: 100%;
			margin-bottom: 1em;

			@media(--800vp) {
				width: calc(25% - 35px);
				margin-bottom: 0;
			}

			& .has-small-font-size {
				font-weight: 600;
				border-bottom: 1px solid var(--Black);
				padding-bottom: 1em;
			}
		}
	}
}