/*-----------------------------------*\
	FURTHER READING
\*-----------------------------------*/
section.further-reading {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 0 4em;

	@media(--800vp) {
		padding: 0;
	}

	&>div {
		background-color: var(--Gray);
		padding: 2em;

		@media(--800vp) {
			padding: 6em;
		}

		& h3 {
			margin: 0 0 .5em;
			font-weight: 900;
		}

		& article {
			margin-bottom: 1.5em;
			max-width: 750px;

			&:last-of-type {
				margin-bottom: 0;
			}

			& a {
				color: var(--Black);
				text-decoration: none;

				&:hover,
				&:focus {
					& p {
						&:first-of-type {
							text-decoration: underline;
						}
					}
				}

				& p {
					margin: 0;

					& strong {
						text-decoration: underline;
					}
				}
			}
		}
	}
}