/*----------------------------------------------------------------*\
	HOME REACH OUT
\*----------------------------------------------------------------*/
section.home-reach-out {
	max-width: 1200px;
	margin: 4em auto;
	padding: 0 2em;

	@media(--800vp) {
		padding: 4em;
	}

	&>div {
		position: relative;

		@media(--800vp) {
			padding-bottom: 4em;
		}

		& img {
			width: 100%;

			@media(--800vp) {
				padding-right: 2em;
			}
		}

		&>div {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			position: relative;
			padding: 2em 0;
			margin-top: 4em;
			border-top: 3px solid var(--Black);

			@media(--800vp) {
				position: absolute;
				top: 36%;
				right: 0;
				background-color: var(--Gray);
				width: 95%;
				padding: 5em 4em;
				margin-top: 0;
				margin-left: 6em;
				border-top: none;
			}

			&:before {
				content: '';
				position: absolute;
				top: -2em;
				left: -4em;
				background-image: url(../images/scribble.png);
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
				width: 114px;
				height: 89px;
				transform: rotate(165deg);

				@media(--800vp) {
					top: 1em;
					left: -2em;
					transform: none;
				}
			}

			& .h1 {
				margin: 0;
				font-size: 40px;
				width: 100%;
				text-align: center;
				line-height: 1.2;
				padding: 0 1em;

				@media(--800vp) {
					font-size: 55px;
					width: auto;
					text-align: left;
					padding: 0;
				}

				@media(--1050vp) {
					font-size: 48px;
				}

				@media(--1200vp) {
					font-size: 60px;
				}
			}

			& .button {
				width: 100%;
				max-width: 380px;
				text-align: center;
				margin: 1em auto 0;
				padding: .75em 1em;

				@media(--800vp) {
					width: auto;
					margin: 1em 0 0;
					padding: .75em 3em;
				}

				@media(--1050vp) {
					margin: 0;
				}
			}
		}
	}
}