/*-----------------------------------*\
	LOGO GRID
\*-----------------------------------*/
section.logo-grid {
	margin-bottom: 100px;

	&>div {
		max-width: 1200px;
		margin: 0 auto;
		padding: 0 2em;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		@media(--800vp) {
			padding: 0 4em;
		}

		&>div {
			width: 100%;
			background-color: #f8f8f8;
			margin-bottom: 30px;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			padding: 6em 0;

			@media(--800vp) {
				width: calc(33.33% - 20px);
			}

			& img {
				max-width: 140px;
				max-height: 140px;
			}
		}
	}
}