/*-----------------------------------*\
	PAGE HEADER
\*-----------------------------------*/
header.page-head {
	max-width: 1200px;
	margin: 0 auto;
	padding: 50px 2em;

	@media(--800vp) {
		padding: 100px 4em;
	}

	& h1 {
		font-size: 30px;
		font-family: "miller-text", serif;
		font-weight: 400;
		line-height: 1.28;

		@media(--800vp) {
			font-size: 32px;
		}

		@media(--1200vp) {
			font-size: 50px;
		}

		& a {
			background-color: var(--Yellow);
			color: var(--Black);
			text-decoration: none;

			&:hover,
			&:focus {
				background-color: var(--Mint);
			}
		}
	}
}