/*----------------------------------------------------------------*\
	PHOTO SCATTER
\*----------------------------------------------------------------*/
section.photo-scatter {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 2em;

	@media(--800vp) {
		padding: 0 4em;
	}

	&>div {
		position: relative;
		height: 600px;

		@media(--500vp) {
			height: 950px;
		}

		@media(--800vp) {
			margin-top: 10em;
		}

		& span {
			position: relative;
			width: 100%;
			height: 1200px;

			&:before {
				content: '';
				position: absolute;
				bottom: 0;
				right: 0;
				background-image: url(../images/scribble.png);
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
				width: 284px;
				height: 221px;
			}
		}

		&>a {
			display: grid;
			position: absolute;
			z-index: 2;
			transition: .4s all linear;

			&:hover,
			&:focus {
				z-index: 3;

				&:after {
					opacity: 1;
				}
			}

			&:after {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				width: 100%;
				height: 100%;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;
				z-index: 2;
				color: var(--White);
				font-size: 34px;
				font-weight: 900;
				background-color: #5AFABEE6;
				transition: .4s all linear;
				opacity: 0;

				@media(--500vp) {
					font-size: 50px;
				}

				@media(--800vp) {
					font-size: 70px;
				}
			}

			&:nth-of-type(1) {
				top: 0;
				right: 0;
				width: 70%;

				@media(--500vp) {
					width: 60%;
				}

				@media(--800vp) {
					width: 65%;
				}

				@media(--1050vp) {
					width: 50%;
					right: 5em;
				}

				&:after {
					content: 'Work';
				}
			}

			&:nth-of-type(2) {
				top: 11em;
				left: 0;
				width: 60%;

				@media(--500vp) {
					top: 17em;
					width: 55%;
				}

				@media(--800vp) {
					top: 5em;
					z-index: 1;

					&:hover,
					&:focus {
						z-index: 3;
					}
				}

				@media(--1050vp) {
					left: 5em;
					width: 42%;
				}

				@media(--1200vp) {
					top: 8em;
				}

				&:after {
					content: 'Approach';
				}
			}

			&:nth-of-type(3) {
				top: 23em;
				left: 0;
				width: 60%;

				&:hover,
				&:focus {
					z-index: 3;
				}

				@media(--500vp) {
					top: 38em;
					width: 55%;
				}

				@media(--800vp) {
					top: 30em;
					left: 18em;
				}

				@media(--1050vp) {
					left: 25em;
					width: 42%;
				}

				@media(--1200vp) {
					top: 34em;
					left: 28em;
				}

				&:after {
					content: 'About';
					right: inherit;
					left: 0;
					width: 89%;
					height: 89%;
				}
			}

			&:nth-of-type(4) {
				top: 17em;
				right: 0;
				width: 60%;

				@media(--500vp) {
					top: 28em;
					width: 55%;
				}

				@media(--800vp) {
					top: 22em;
					right: 18em;
				}

				@media(--1050vp) {
					right: 25em;
					width: 42%;
				}

				@media(--1200vp) {
					top: 25em;
					right: 28em;
				}

				&:after {
					content: 'Contact';
				}
			}

			&>img {
				width: 100%;
				height: auto;
			}
		}
	}
}