/*-----------------------------------*\
	POST FOOTER
\*-----------------------------------*/
footer.post-footer {
	background-color: var(--Gray);
	padding: 50px;
	position: relative;
	z-index: 2;

	@media(--800vp) {
		padding: 100px;
	}

	&>div {
		max-width: 1200px;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		&>div {
			&:first-of-type {
				width: 100%;

				@media(--800vp) {
					width: 70%;
					padding-right: 2em;
				}

				@media(--1050vp) {
					width: 50%;
				}

				& form {
					display: flex;
					flex-wrap: wrap;

					& h3 {
						margin: 0;
						line-height: 1;
						font-size: 20px;

						@media(--800vp) {
							font-size: 25px;
						}
					}

					& .gform_description {
						font-size: 18px;
						line-height: 1.2;
						display: block;
						padding-top: .5em;
					}

					& .gform_body {
						margin-top: 1em;
						width: calc(100% - 120px);

						& ul {
							display: block;
							width: auto;
						}

						& input {
							background-color: var(--White);
							height: 59px;

							&.LV_invalid_field {
								box-shadow: none;
							}
						}
					}

					& .gform_footer {
						margin-top: 1em;
						width: 120px;

						& button {
							margin: 0;
							padding: 14.25px 3.5rem;
							color: var(--Yellow);
							height: 59px;
							font-size: 1px;

							&:hover,
							&:focus {
								color: var(--Mint);
							}

							&:after {
								content: '';
								position: absolute;
								top: calc(50% - 6.5px);
								left: calc(50% - 14px);
								background-image: url(../images/arrow.svg);
								background-position: center;
								background-repeat: no-repeat;
								background-size: contain;
								opacity: 1;
								transition: all .25s cubic-bezier(0.5, 0.05, 0.5, 1);
								width: 28px;
								height: 13px;
							}
						}
					}

					& ul {
						padding-right: 0;
					}
				}
			}

			&:last-of-type {
				width: 100%;
				padding-bottom: 2em;

				@media(--800vp) {
					width: auto;
					padding-bottom: 0;
				}

				@media(--1050vp) {
					padding-right: 2em;
				}

				& a {
					display: inline-flex;
					font-size: 18px;
					text-decoration: none;
					color: var(--Black);
					padding-right: 1.5em;
					position: relative;
					line-height: 25px;

					&:hover,
					&:focus {
						font-weight: 700;
						text-decoration: underline;
					}
				}

				& p,
				& address {
					font-size: 18px;
					font-style: normal;
					margin: 0;
				}

				& address {
					line-height: 25px;
				}

				&>div {
					padding-top: 2em;

					& a {
						position: relative;

						&:hover,
						&:focus {
							&:after {
								opacity: 1;
							}
						}

						&:after {
							content: '';
							position: absolute;
							top: -7px;
							right: -7px;
							left: -7px;
							bottom: -7px;
							background-color: var(--Mint);
							border-radius: 50%;
							width: 38px;
							height: 38px;
							opacity: 0;
							z-index: -1;
						}

						& svg {
							width: 24px;
							height: 24px;
						}
					}
				}
			}
		}

		& ul {
			padding: 0;
			padding-right: 2em;
			margin: 0;
			list-style: none;
			display: none;
			width: auto;

			@media(--1050vp) {
				display: block;
			}

			& li {
				& a {
					font-size: 18px;
					text-decoration: none;
					color: var(--Black);

					&:hover,
					&:focus {
						font-weight: 700;
						text-decoration: underline;
					}
				}
			}
		}

		& hr {
			width: 100%;
			height: 1px;
			display: none;

			@media(--800vp) {
				display: block;
			}
		}

		&>a {
			display: flex;
			align-items: center;
			text-decoration: none;
			line-height: 1;
			color: var(--Black);
			font-size: 12px;

			& svg {
				width: 250px;
				height: 24px;
				padding-right: 1em;

				@media(--500vp) {
					width: 350px;
				}
			}
		}

		&>p {
			font-size: 24px;
			font-weight: bold;
			margin: 0;
			line-height: 1;
			margin-top: 1em;
			text-align: left;
			width: 100%;

			@media(--800vp) {
				width: auto;
				margin-top: 0;
				text-align: right;
			}

			& span {
				&:last-of-type {
					display: block;
					font-size: 15px;
					font-weight: 400;
					margin-top: 1em;
				}
			}
		}
	}
}