/*-----------------------------------*\
	QUOTE
\*-----------------------------------*/
section.quote {
	padding: 4em 2em;
	max-width: 1200px;
	margin: 0 auto;

	@media(--500vp) {
		padding: 4em;
	}

	&>div {
		border-top: 1px solid var(--Black);
		border-bottom: 3px solid var(--Black);
		padding: 6em 0 2em;
		text-align: center;
		position: relative;

		@media(--500vp) {
			padding: 6em 2em;
		}

		@media(--800vp) {
			padding: 6em 4em;
		}

		&:before {
			content: '“';
			font-size: 150px;
			font-family: "miller-text", serif;
			position: absolute;
			top: -4rem;
			left: calc(50% - 118.5px);
			background-color: var(--Yellow);
			border-radius: 50%;
			width: 237px;
			height: 237px;
			z-index: -1;
			padding-top: 2rem;
		}

		& h3 {
			width: 90%;
			margin: 0 auto;
			line-height: 1.5;
			font-size: 22px;
			font-weight: 900;

			@media(--800vp) {
				font-size: 35px;
				line-height: 1.2;
			}
		}

		& p {
			font-family: "miller-text", serif;
			font-size: 15px;
			margin: 2em 0 0;

			@media(--800vp) {
				font-size: 20px;
			}
		}
	}
}