/*-----------------------------------*\
	REACH OUT
\*-----------------------------------*/
section.reach-out {
	position: relative;
	z-index: 2;
	padding: 2em;

	&:before {
		content: '';
		position: absolute;
		top: -30px;
		left: -100px;
		background-image: url(../images/scribble.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		width: 200px;
		height: 164px;

		@media(--1200vp) {
			top: 82px;
		}
	}

	& div {
		border-top: 3px solid var(--Black);
		max-width: 1200px;
		margin: 0 auto;
		padding: 2em 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		text-align: center;

		@media(--800vp) {
			padding: 4em 6em;
			text-align: left;
		}

		& h2 {
			font-size: 38px;
			width: 100%;

			@media(--800vp) {
				width: auto;
			}

			@media(--1050vp) {
				font-size: 70px;
			}
		}

		& a.button {
			margin: 0;
			width: 100%;
			margin-top: 2em;

			@media(--800vp) {
				width: auto;
				margin-top: 0;
			}
		}
	}
}