/*-----------------------------------*\
	RELATED WORK
\*-----------------------------------*/
section.related-work {
	padding-bottom: 100px;

	&>div {
		max-width: 1200px;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		padding: 0 1em;

		@media(--800vp) {
			padding: 0 4em;
		}

		& article.preview {
			width: 100%;
			padding: 15px;
			position: relative;

			@media(--800vp) {
				width: 50%;
			}

			& a {

				&:hover,
				&:focus {
					& .hover {
						opacity: 1;
					}
				}
			}

			& .image-wrap {
				height: 207px;
				overflow: hidden;

				@media(--500vp) {
					height: 400px;
				}

				&>div {
					background-position: center;
					background-repeat: no-repeat;
					background-size: cover;
					transition: .4s all linear;
					width: 100%;
					height: 100%;
				}
			}

			& .hover {
				position: absolute;
				top: 3em;
				right: 3em;
				background-color: var(--White);
				width: calc(100% - 6em);
				height: calc(100% - 6em);
				padding: 5em 2em 2em;
				transition: .4s all linear;
				opacity: 0;

				@media(--500vp) {
					padding: 6em 2em 2em;
				}

				@media(--800vp) {
					width: 50%;
					height: auto;
				}

				& h2 {
					color: var(--Black);
					margin-top: 0;
					line-height: 1.2;
					font-size: 19px;

					@media(--500vp) {
						font-size: 32px;
					}
				}
			}

			&:first-of-type {
				& .hover {
					right: inherit;
					left: 3em;

					&:before {
						content: 'Previous';
						color: var(--Black);
						font-weight: 700;
						font-size: 16px;
						position: absolute;
						top: 3em;

						@media(--500vp) {
							top: 4em;
						}
					}

					&:after {
						content: url(../images/arrow.svg);
						transform: scaleX(-1);
						position: absolute;
						top: 1em;

						@media(--500vp) {
							top: 2em;
						}
					}
				}
			}

			&:last-of-type {
				& .hover {
					&:before {
						content: 'Next';
						color: var(--Black);
						font-weight: 700;
						font-size: 16px;
						position: absolute;
						top: 3em;

						@media(--500vp) {
							top: 4em;
						}
					}

					&:after {
						content: url(../images/arrow.svg);
						position: absolute;
						top: 1em;

						@media(--500vp) {
							top: 2em;
						}
					}
				}
			}
		}
	}
}