/*-----------------------------------*\
	SKILLS
\*-----------------------------------*/
section.skills {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 2em;

	@media(--800vp) {
		padding: 0 4em;
	}

	& button {
		margin: 0;
		padding: 0;
		background-color: transparent;
		display: none;

		@media(--800vp) {
			display: block;
		}

		&.is-open {
			& .plus-to-minus {
				transform: rotate(-90deg);

				&:after {
					transform: rotate(-90deg);
				}
			}
		}

		& h3 {
			margin: 0;
		}

		& .plus-to-minus {
			position: absolute;
			top: calc(50% - 8px);
			right: -1em;
			width: 16px;
			height: 16px;
			cursor: pointer;
			transition: transform ease .4s;

			&:before,
			&:after {
				content: '';
				position: absolute;
				background-color: var(--Black);
			}

			&:before {
				left: calc(50% - 1px);
				width: 2px;
				height: 16px;
			}

			&:after {
				top: calc(50% - 1px);
				left: 0;
				height: 2px;
				width: 16px;
				transition: transform ease .4s;
			}
		}
	}

	& hr {
		margin: 2em auto;
		display: none;

		@media(--800vp) {
			display: block;
		}
	}

	& div.toggle {
		display: flex;
		flex-wrap: wrap;
		height: 100%;
		opacity: 1;
		transition: .4s all linear;

		@media(--800vp) {
			height: 0;
			opacity: 0;
			visibility: hidden;
		}

		&.is-open {
			height: 100%;
			opacity: 1;
			visibility: visible;
		}

		&>div {
			width: 100%;

			@media(--800vp) {
				width: 30%;
			}

			& button {
				display: block;
				cursor: default;
				width: 100%;
				text-align: left;

				&.is-open {
					& .plus-to-minus {
						transform: rotate(-90deg);

						&:after {
							transform: rotate(-90deg);
						}
					}
				}

				& h5 {
					margin: 1em 0 0;
					font-size: 26px;
				}

				& .plus-to-minus {
					display: block;
					top: calc(50% - 8px + 13px);
					right: 0;

					@media(--800vp) {
						display: none;
					}
				}
			}

			& hr {
				display: block;
				margin: 1em auto;

				@media(--800vp) {
					display: none;
				}
			}

			& ul {
				padding-left: 0;
				margin: 0;
				list-style: none;
				height: 0;
				opacity: 0;

				@media(--800vp) {
					height: 100%;
					opacity: 1;
				}

				&.is-open {
					height: 100%;
					opacity: 1;
				}

				& li {
					font-size: 18px;
					margin: .5em 0;
				}
			}
		}
	}
}