/*-----------------------------------*\
	STUDIO
\*-----------------------------------*/
section.studio {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0;

	@media(--800vp) {
		padding: 0 4em;
	}

	&>div {

		& h3 {
			position: relative;
			padding: 0 2rem;

			@media(--800vp) {
				padding: 0;
			}

			&:before {
				content: '';
				position: absolute;
				top: -1.5em;
				left: -1.5em;
				background-color: var(--Yellow);
				border-radius: 50%;
				width: 108px;
				height: 108px;
				z-index: -1;
			}
		}

		& p {
			font-size: 28px;
			max-width: 650px;
			margin-bottom: 2em;
			padding: 0 2rem;

			@media(--800vp) {
				padding: 0;
			}
		}

		&>img {
			width: 100%;
		}

		&>div {
			position: relative;
			display: flex;
			flex-wrap: wrap;
			padding: 0 4em;
			max-width: 1200px;
			height: 350px;
			margin: 0 auto;
			margin-top: 4em;
			margin-bottom: 4em;

			@media(--500vp) {
				height: 500px;
				margin-top: 10em;
			}

			@media(--800vp) {
				margin-top: 10em;
			}

			@media(--1050vp) {
				margin-top: 12em;
			}

			& img {
				position: absolute;
				z-index: 2;
				transition: .4s all linear;

				&:nth-of-type(1) {
					top: 0;
					left: 2em;
					width: 60%;

					@media(--500vp) {
						top: -4em;
						left: 2em;
						width: 60%;
					}

					@media(--800vp) {
						top: 2em;
						left: 0;
						width: 48%;
					}
				}

				&:nth-of-type(2) {
					top: 6em;
					right: 2em;
					width: 60%;

					@media(--500vp) {
						top: 4em;
						right: 2em;
						width: 60%;
					}

					@media(--800vp) {
						top: 0;
						right: 0;
						width: 48%;
					}

					@media(--1050vp) {
						top: -4em;
					}
				}

				&:nth-of-type(3) {
					top: 14em;
					right: 30%;
					width: 50%;

					@media(--500vp) {
						top: 14em;
					}

					@media(--800vp) {
						top: 14em;
						right: 12em;
						width: 40%;
					}
				}
			}
		}
	}
}