/*-----------------------------------*\
	TEAM
\*-----------------------------------*/
section.team {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0;

	@media(--800vp) {
		padding: 0 4em;
	}

	&>div {

		& h3 {
			position: relative;
			padding: 0 2rem;

			@media(--800vp) {
				padding: 0;
			}

			&:before {
				content: '';
				position: absolute;
				top: -1.5em;
				left: -1.5em;
				background-color: var(--Yellow);
				border-radius: 50%;
				width: 108px;
				height: 108px;
				z-index: -1;
			}
		}

		&>div {
			overflow-y: hidden;

			@media(--800vp) {
				overflow-y: inherit;
			}

			&>div {
				display: flex;
				width: max-content;
				overflow-x: auto;
				-webkit-overflow-scrolling: touch;
				position: relative;
				z-index: 0;

				@media(--800vp) {
					flex-wrap: wrap;
					justify-content: space-between;
					width: 100%;
				}

				& article {
					width: 200px;
					margin-right: 20px;
					margin-bottom: 4em;

					@media(--800vp) {
						width: calc(25% - 20px);
						margin-right: 0;
					}

					@media(--1200vp) {
						width: calc(20% - 20px);
					}

					&:first-of-type {
						margin-left: 2em;

						@media(--800vp) {
							margin-left: 0;
						}
					}

					& img {
						width: 100%;
					}

					& h4 {
						margin: .5em 0 0;
						line-height: 1.1;
					}

					& p {
						margin: .5em 0;
						font-family: "miller-text", serif;
					}
				}
			}
		}
	}
}