/*-----------------------------------*\
	THE UPSHOT
\*-----------------------------------*/
section.the-upshot {
	padding: 4em 0;
	max-width: 1200px;
	margin: 0 auto;

	@media(--800vp) {
		padding: 4em;
	}

	&>div {
		position: relative;
		margin-bottom: 240px;

		@media(--500vp) {
			margin-bottom: 300px;
		}

		@media(--800vp) {
			margin-bottom: 400px;
		}

		@media(--1050vp) {
			margin-bottom: 600px;
		}

		&>div {
			background-color: var(--Yellow);
			padding: 4em 2em 2em;
			position: relative;
			margin: 0 2em;

			@media(--500vp) {
				padding: 6em 2em 2em;
				margin: 0 4em;
			}

			@media(--800vp) {
				padding: 6em 4em 2em;
				width: 70%;
				margin: 0 auto;
			}

			&:before {
				content: '';
				position: absolute;
				top: -1.5em;
				left: 1em;
				background-image: url(../images/scribble-2.png);
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
				width: 120px;
				height: 95px;

				@media(--800vp) {
					top: -3em;
					left: 2em;
					width: 215px;
					height: 170px;
				}
			}

			& p {
				font-size: 15px;
				font-family: "miller-text", serif;
				font-style: italic;

				@media(--800vp) {
					font-size: 20px;
				}
			}
		}
	}

	& img {
		width: 100%;
		position: absolute;
		bottom: -240px;
		left: 0;
		z-index: -1;

		@media(--500vp) {
			bottom: -300px;
		}

		@media(--800vp) {
			bottom: -400px;
		}

		@media(--1050vp) {
			bottom: -600px;
		}
	}
}