/*-----------------------------------*\
	THREE IMAGE CONTENT LEFT
\*-----------------------------------*/
section.three-image-content-left {
	padding: 1em 0;

	@media(--800vp) {
		padding: 4em 0;
	}

	&>div {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		padding: 0 2em;
		max-width: 1200px;
		height: auto;
		margin: 0 auto;

		@media(--800vp) {
			padding: 0 4em;
		}

		&>div {
			width: 100%;
			height: auto;
			padding: 400px 0 2em;
			z-index: 10;

			@media(--500vp) {
				padding: 600px 50px 2em;
			}

			@media(--800vp) {
				width: 50%;
				padding: 600px 70px 100px;
			}

			@media(--1050vp) {
				padding: 600px 100px 100px;
			}

			& p {
				&:first-of-type {
					font-size: 25px;
					font-weight: 700;
					margin: 0;
					position: relative;

					&:before {
						content: '';
						position: absolute;
						background-color: var(--Yellow);
						border-radius: 50%;
						width: 108px;
						height: 108px;
						top: -100%;
						left: -26px;
						z-index: -1;
					}
				}
			}
		}

		& img {
			position: absolute;
			height: auto;
			z-index: 2;
			transition: .4s all linear;

			&:nth-of-type(1) {
				top: 8em;
				left: 4em;
				width: 60%;

				@media(--500vp) {
					top: 11em;
				}

				@media(--800vp) {
					top: 6em;
					width: 50%;
				}
			}

			&:nth-of-type(2) {
				top: 12em;
				right: 2em;
				width: 40%;

				@media(--500vp) {
					top: 23em;
				}

				@media(--800vp) {
					top: 22em;
					right: 6em;
				}
			}

			&:nth-of-type(3) {
				top: 0;
				right: 2em;
				width: 50%;

				@media(--500vp) {
					top: 0;
				}

				@media(--800vp) {
					top: 2em;
				}

				@media(--1050vp) {
					right: 4em;
				}

				@media(--1200vp) {
					right: 2em;
				}
			}
		}
	}
}