/*-----------------------------------*\
	THREE IMAGE CONTENT RIGHT
\*-----------------------------------*/
section.three-image-content-right {
	padding: 1em 0;

	@media(--800vp) {
		padding: 4em 0;
	}

	@media(--1050vp) {
		padding: 4em 0 10em;
	}

	&>div {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		padding: 0 2em;
		max-width: 1200px;
		height: auto;
		margin: 0 auto;

		@media(--800vp) {
			padding: 0 4em;
		}

		&>div {
			width: 100%;
			height: auto;
			padding: 400px 0 2em;
			z-index: 10;

			@media(--500vp) {
				padding: 600px 50px 2em;
			}

			@media(--800vp) {
				width: 50%;
				padding: 100px 70px 400px;
			}

			@media(--1050vp) {
				padding: 100px 100px 400px;
			}

			& p {
				&:first-of-type {
					font-size: 25px;
					margin: 0;
					position: relative;

					&:before {
						content: '';
						position: absolute;
						background-color: var(--Yellow);
						border-radius: 50%;
						width: 108px;
						height: 108px;
						top: -100%;
						left: -26px;
						z-index: -1;
					}
				}
			}
		}

		& img {
			position: absolute;
			height: auto;
			z-index: 2;
			transition: .4s all linear;

			&:nth-of-type(1) {
				top: 2em;
				left: 7em;
				width: 40%;

				@media(--500vp) {
					left: 10em;
				}

				@media(--800vp) {
					width: 35%;
					left: 10em;
				}

				@media(--1050vp) {
					width: 30%;
					left: 12em;
				}
			}

			&:nth-of-type(2) {
				top: 10em;
				right: 4em;
				width: 50%;

				@media(--500vp) {
					top: 28em;
					right: 2em;
				}

				@media(--800vp) {
					right: 12em;
				}
			}

			&:nth-of-type(3) {
				top: 6em;
				left: 4em;
				width: 40%;

				@media(--500vp) {
					top: 12em;
				}

				@media(--800vp) {
					width: 30%;
					top: 26em;
				}
			}
		}
	}
}