/*-----------------------------------*\
	TWO IMAGE CONTENT RIGHT
\*-----------------------------------*/
section.two-image-content-right {
	padding: 1em 0;

	@media(--800vp) {
		padding: 4em 0;
	}

	&>div {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		padding: 0 2em;
		max-width: 1200px;
		height: auto;
		margin: 0 auto;

		@media(--800vp) {
			padding: 0 4em;
		}

		&>div {
			width: 100%;
			height: auto;
			padding: 400px 0 2em;
			z-index: 10;

			@media(--500vp) {
				padding: 500px 50px 2em;
			}

			@media(--800vp) {
				padding: 600px 50px 100px;
			}

			@media(--1050vp) {
				width: 50%;
				padding: 100px 100px 550px;
			}

			@media(--1200vp) {
				padding: 100px 100px 400px;
			}

			& p {
				&:first-of-type {
					font-size: 16px;
					margin: 0;
					position: relative;

					@media(--800vp) {
						font-size: 25px;
					}

					&:before {
						content: '';
						position: absolute;
						background-color: var(--Yellow);
						border-radius: 50%;
						width: 108px;
						height: 108px;
						top: -100%;
						left: -26px;
						z-index: -1;
					}
				}
			}
		}

		& img {
			position: absolute;
			height: auto;
			z-index: 2;
			transition: .4s all linear;

			&:nth-of-type(1) {
				top: 0;
				left: 2em;
				width: 65%;

				@media(--500vp) {
					left: 4em;
				}

				@media(--800vp) {
					width: 60%;
				}

				@media(--1050vp) {
					top: 0;
					width: calc(50% - 4em);
				}
			}

			&:nth-of-type(2) {
				top: 8em;
				right: 2em;
				width: 65%;

				@media(--500vp) {
					top: 10em;
					right: 4em;
				}

				@media(--800vp) {
					top: inherit;
					bottom: 16em;
					width: 50%;
				}

				@media(--1050vp) {
					bottom: 4em;
				}

				@media(--1200vp) {
					bottom: -6em;
				}
			}
		}
	}
}

body.strohs {
	& section.two-image-content-right>div img {
		&:nth-of-type(1) {
			top: 0;

			@media(--1050vp) {
				top: 5em;
			}
		}

		&:nth-of-type(2) {
			top: 8em;

			@media(--500vp) {
				top: 10em;
			}

			@media(--800vp) {
				top: inherit;
				bottom: 16em;
			}

			@media(--1050vp) {
				bottom: 4em;
			}

			@media(--1200vp) {
				bottom: 0;
			}
		}
	}
}

body.ellis-island-tea section.two-image-content-right > div img {
	&:nth-of-type(1) {
		@media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) and (min-width: 1050px) {
			top: 8em;
		}

		@media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) and (min-width: 1900px) {
			top: 10em;
		}
		
		@media(--1900vp) {
			top: 16em;
		}
	}

	&:nth-of-type(2) {
		@media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) and (min-width: 1200px) {
			bottom: 2em;
		}

		@media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) and (min-width: 1900px) {
			bottom: 0;
		}

		@media(--1200vp) {
			bottom: -10em;
		}

		@media(--1900vp) {
			bottom: 9em;
		}
	}
}