/*-----------------------------------*\
	VALUES
\*-----------------------------------*/
section.values {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 2em;

	@media(--800vp) {
		padding: 0 4em;
		overflow: hidden;
	}

	&>div {

		&>div {
			display: block;
			padding: 4em 0;
			position: relative;

			@media(--800vp) {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
			}

			&:before {
				display: block;
				content: '';
				position: -webkit-sticky;
				position: sticky;
				top: 10vw;
				left: 0;
				max-width: 800px;
				max-height: 800px;
				width: calc(100vw - 4em);
				height: calc(100vw - 4em);
				background-color: var(--Yellow);
				border-radius: 50%;
				z-index: -1;

				@media(--800vp) {
					position: absolute;
					top: 0;
					left: 50%;
					transform: translateX(-50%);
					width: 60vw;
					height: 60vw;
				}
			}

			&>article {
				width: 100%;
				padding-bottom: 4em;

				@media(--800vp) {
					width: calc(33.33% - 20px);
				}

				&:first-of-type {
					margin-top: calc(-100vw + 4em);

					@media(--800vp) {
						margin-top: inherit;
					}
				}

				& p.is-large {
					border-bottom: 1px solid var(--Black);
					margin: 0;
					padding-bottom: .5em;
					font-size: 28px;
				}

				& h3 {
					line-height: 1.2;
					font-weight: 900;
					font-size: 35px;
				}

				& p.miller-text {
					font-size: 20px;
				}
			}
		}
	}
}