/*-----------------------------------*\
	WORK HEADER
\*-----------------------------------*/
header.work-head {
	padding: 50px 0;
	max-width: 1200px;
	margin: 0 auto;

	@media(--800vp) {
		padding: 100px 0;
	}

	&>div {
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
		min-height: 375px;

		@media(--800vp) {
			min-height: 676px;
		}

		&>div {
			background-color: var(--Gray);
			position: absolute;
			top: 270px;
			left: 0;
			padding: 2em 2em 4em;
			width: calc(100% - 4em);
			margin: 0 2em;

			@media(--500vp) {
				left: calc(50% - 128px);
				width: 256px;
				margin: 0;
			}

			@media(--800vp) {
				top: 545px;
				left: 100px;
				width: 380px;
			}

			&:before {
				content: '';
				position: absolute;
				bottom: -40px;
				left: 2em;
				background-image: url(../images/scribble-3.png);
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
				width: 109px;
				height: 144px;
			}

			& h1 {
				font-size: 23px;
				line-height: 1;
				margin: 0;

				@media(--800vp) {
					font-size: 26px;
				}
			}

			& p {
				font-size: 15px;
				line-height: 1;

				@media(--800vp) {
					font-size: 22px;
				}
			}
		}
	}
}