/*-----------------------------------*\
	WYSIWYG
\*-----------------------------------*/
section.wysiwyg {
	padding: 1em 0;

	@media(--800vp) {
		padding: 4em 0;
	}

	&.small-width {
		max-width: 900px;
		margin-left: auto;
		margin-right: auto;
		padding: 1em 2em;

		@media(--800vp) {
			padding: 4em;
		}
	}

	&.medium-width {
		max-width: 1200px;
		margin-left: auto;
		margin-right: auto;
		padding: 1em 2em;

		@media(--800vp) {
			padding: 4em;
		}
	}

	& .h1 {
		line-height: 1;
		font-weight: 900;
	}

	& .is-full-width {
		width: 100%;
		height: auto;
	}

	& figure.wp-caption {
		width: 100% !important;
		margin: 0;
	}

	& figcaption {
		font-size: 10px;
		line-height: 1.3;
		color: #707070;
		max-width: 900px;
		margin: 0 auto;
		padding: 0;

		@media(--800vp) {
			font-size: 14px;
			padding: 0;
		}

		@media(--1050vp) {
			padding: 0 4rem;
		}
	}

	& .img-grid {
		display: flex;
		flex-wrap: wrap;

		@media(--800vp) {
			display: block;
			height: 450px;
		}

		@media(--1050vp) {
			height: 570px;
		}

		@media(--1200vp) {
			height: 660px;
		}

		& img {
			width: 100%;
			height: auto;
			float: left;
			padding-bottom: 2em;

			@media(--800vp) {
				width: 40%;
				padding-bottom: 0;
			}

			&:first-of-type {
				order: 2;

				@media(--800vp) {
					width: 60%;
					padding-right: 2em;
				}
			}

			&:last-of-type {
				order: 3;

				@media(--800vp) {
					padding-top: 2em;
				}
			}
		}
	}
}