/*-----------------------------------*\
	MEDIA QUERIES IN CORRECT ORDER
\*-----------------------------------*/
@custom-media --500vp (min-width: 500px);
@custom-media --800vp (min-width: 800px);
@custom-media --1050vp (min-width: 1050px);
@custom-media --1200vp (min-width: 1200px);
@custom-media --1300vp (min-width: 1300px);
@custom-media --1500vp (min-width: 1500px);
@custom-media --1900vp (min-width: 1900px);

div {
	@media(--500vp) {
		box-sizing: inherit;
	}

	@media(--800vp) {
		box-sizing: inherit;
	}

	@media(--1050vp) {
		box-sizing: inherit;
	}

	@media(--1200vp) {
		box-sizing: inherit;
	}

	@media(--1300vp) {
		box-sizing: inherit;
	}

	@media(--1500vp) {
		box-sizing: inherit;
	}

	@media(--1900vp) {
		box-sizing: inherit;
	}
}

/*-----------------------------------*\
	UNIVERSAL
\*-----------------------------------*/
html {
	box-sizing: border-box;
	background: var(--White);
	font-size: 16px;
	font-family: "tenso", sans-serif;
	line-height: 1.75;
	scroll-behavior: smooth;
	margin-top: 100px !important;

	@media(--800vp) {
		margin-top: 120px;
	}
}

html,
body {
	margin: 0;
	padding: 0;

	&.is-active {
		overflow: hidden;
	}
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

/*-----------------------------------*\
	WORDPRESS ADMIN BAR
\*-----------------------------------*/
.kaui-mini-toolbar #wpadminbar {
	top: 10%;
}

/*-----------------------------------*\
	SKIP NAV
\*-----------------------------------*/
#skip-to-content {
	position: absolute;
	top: 0px;
	left: 0;
	transform: translateY(-800%);
	z-index: 999999;
	transition: all .35s linear;
	background-color: var(--Mint);
	color: var(--Black);
	padding: .5em 1em;
	text-decoration: none;

	&:focus {
		transform: translateY(0);
	}
}

/*-----------------------------------*\
	WP GALLERY
\*-----------------------------------*/
.gallery {
	width: 100%;
	position: relative;

	& figure {
		width: 100%;
		padding: 15px 0;
		margin: 0;

		@media(--800vp) {
			width: 66%;
			padding: 15px;

			&:nth-child(4n-2),
			&:nth-child(4n-1) {
				width: 33%;

				& img {
					width: auto;
					height: 400px;
				}
			}

			&:nth-child(4n-3),
			&:nth-child(4n) {
				& img {
					width: auto;
					height: 400px;
				}
			}
		}

		@media(--1200vp) {

			&:nth-child(4n-3),
			&:nth-child(4n) {
				& img {
					width: 100%;
					height: 400px;
				}
			}
		}

		&>div {
			display: flex;
			overflow: hidden;

			& img {
				width: 100%;
				height: auto;
			}
		}
	}
}

/*-----------------------------------*\
	MAIN & ARTICLE
\*-----------------------------------*/
main {
	position: relative;

	&>article {
		margin: 4em 0;

		&>*:not(section) {
			margin-right: auto;
			margin-left: auto;
			max-width: 800px;
		}

		& .desktop {
			display: none;

			@media(--500vp) {
				display: block;
			}
		}

		& .mobile {
			display: block;

			@media(--500vp) {
				display: none;
			}
		}
	}
}

.page {
	& main {
		margin-right: 2em;
		margin-left: 2em;
	}
}

/*----------------------------------------------------------------*\
	INFINITE SCROLL
\*----------------------------------------------------------------*/
.page-load-status,
.navigation.pagination {
	display: none;
	text-align: center;
	width: 100%;
}

.infinite-scroll {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.load-more {
	display: none;
	margin: 0;
	padding: .75em 1.75em;

	@media(--500vp) {
		padding: .75em 2.75em;
	}
}

/*-----------------------------------*\
	WINGS
\*-----------------------------------*/
.wings {
	position: fixed;
	top: 25%;
	left: -2em;
	z-index: 1;
	text-decoration: none;
	font-size: 18px;
	display: none;
	opacity: 0;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	transition: .25s all linear;
	padding-top: 1em;

	@media(--800vp) {
		display: flex;
	}

	&:last-of-type {
		top: 35%;
		right: -2em;
		left: inherit;
		padding-top: 2em;

		&.visible {
			right: 1em;
			left: inherit;
		}

		& svg {
			height: 180px;
		}
	}

	& svg {
		width: 20px;
		height: 250px;
		fill: #1a1a1a;
	}

	&.visible {
		opacity: 1;
		left: 1em;
	}
}

/*-----------------------------------*\
	PAROLLER
\*-----------------------------------*/
.paroller {
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
}