/*-----------------------------------*\
	VARIABLES
\*-----------------------------------*/
:root {
	--SmallWidth: 800px;
	--Width: 960px;
	--LargeWidth: 1200px;
	--LargeSpacing: 4em;
	--Spacing: 2em;
	--SmallSpacing: 1.5em;
	--Yellow: #FFFF6E;
	--Mint: #59FABE;
	--Orange: #FD8800;
	--White: #FFFFFF;
	--Gray: #F8F8F2;
	--Black: #1A1A1A;
}