/*----------------------------------------------------------------*\
	APPROACH 6 TEMPLATE
\*----------------------------------------------------------------*/
body.approach-template-approach-6 {
	& main {
		&>article {
			overflow: hidden;
			margin: 0;

			@media(--800vp) {
				margin: 4em 0;
			}

			& .h2 {
				margin-top: 2rem;
				line-height: 1.2;
				max-width: 1200px;
				font-weight: 900;
				width: 80%;
				margin-left: 0;

				@media(--800vp) {
					width: 100%;
					margin-left: auto;
				}
			}

			& h3 {
				line-height: 1.2;
			}

			& p {
				font-family: "miller-text", serif;
				font-size: 15px;

				@media(--800vp) {
					font-size: 20px;
				}
			}

			& p.large-p {
				font-size: 17px;
				font-weight: 500;
				font-family: "tenso", sans-serif;
				line-height: 1.4;

				@media(--800vp) {
					font-size: 28px;
				}
			}

			& ol {
				list-style: none;
				padding-left: 2em;
				margin: 2em auto;
				counter-reset: number-counter;

				@media(--800vp) {
					padding-left: 0;
					margin: 6em auto;
				}

				& li {
					position: relative;
					padding-top: 4.5em;
					padding-left: 1em;
					font-size: 15px;
					padding-bottom: 2em;
					counter-increment: number-counter;
					font-family: "miller-text", serif;

					@media(--800vp) {
						padding-top: 0;
						padding-left: 94px;
						font-size: 20px;
					}

					&:last-of-type {
						padding-bottom: 0;
					}

					&:before {
						content: '0'counter(number-counter);
						position: absolute;
						top: 10px;
						left: 15px;
						color: var(--Black);
						font-size: 36px;
						font-weight: 900;
						z-index: 2;
						font-family: "tenso", sans-serif;

						@media(--800vp) {
							left: 20px;
						}
					}

					&:after {
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						background-color: var(--Mint);
						border-radius: 50%;
						width: 42px;
						height: 42px;

						@media(--800vp) {
							width: 48px;
							height: 48px;
							left: 0;
						}
					}
				}
			}

			&>:not(section) {
				padding: 0 2rem;

				@media(--800vp) {
					padding: 0 4rem;
				}
			}

			& img {
				max-width: inherit;
				width: 100%;
				padding: 0 !important;

				&:first-of-type {
					width: 100%;
				}

				&:nth-of-type(3) {
					width: 200%;
					transform: translateX(-20%);

					@media(--800vp) {
						width: 100%;
						transform: inherit;
					}
				}

				&:nth-of-type(4) {
					width: 200%;
					transform: translateX(-32%);

					@media(--800vp) {
						width: 100%;
						transform: inherit;
					}
				}

				&:nth-of-type(5) {
					width: 200%;
					transform: translateX(-22%);

					@media(--800vp) {
						width: 100%;
						transform: inherit;
					}
				}

				&:nth-of-type(6) {
					width: 200%;
					transform: translateX(-20%);

					@media(--800vp) {
						width: 100%;
						transform: inherit;
					}
				}
			}

			& section {
				background-color: var(--Black);
				color: var(--White);
				padding: 4em 0 200px;
				margin-top: -2em;

				&>:not(section) {
					margin-right: auto;
					margin-left: auto;
					max-width: 800px;
					padding: 0 2rem;

					@media(--800vp) {
						padding: 0 4rem;
					}
				}
			}
		}
	}
}