/*----------------------------------------------------------------*\
	APPROACH 8 TEMPLATE
\*----------------------------------------------------------------*/
body.approach-template-approach-8 {
	& .primary-navigation {
		background-color: transparent;
	}

	& main {
		&>article {
			margin-top: -100px;
			margin-bottom: 100px;

			@media(--1050vp) {
				margin-bottom: 300px;
			}

			&:before {
				content: '';
				background-image: none;
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
				position: absolute;
				top: -4em;
				right: 0;
				width: 514px;
				height: 4820px;
				display: none;

				@media(--1050vp) {
					background-image: url(../images/Naming-Rose-Long@2x-Desktop.png);
					display: block;
				}
			}

			& p {
				font-family: "miller-text", serif;
				font-size: 15px;

				@media(--800vp) {
					font-size: 20px;
				}
			}

			& p.large-p {
				font-size: 17px;
				font-weight: 500;
				font-family: "tenso", sans-serif;

				@media(--800vp) {
					font-size: 28px;
				}
			}

			& .h2 {
				margin-top: 2rem;
				line-height: 1.2;
				font-weight: 900;
			}

			&>:not(section) {
				padding: 0 2rem;
				margin-left: auto;

				@media(--800vp) {
					padding: 0 4rem;
				}

				@media(--1050vp) {
					margin-left: 4rem;
					max-width: 600px;
				}

				@media(--1200vp) {
					max-width: 700px;
				}

				@media(--1300vp) {
					margin-left: 8rem;
					max-width: 800px;
				}
			}

			& img {
				max-width: inherit !important;
				width: 100%;

				&.desktop {
					display: none;

					@media(--1050vp) {
						display: block;
					}
				}

				&.mobile {
					display: block;
					padding: 0;

					@media(--1050vp) {
						display: none;
					}
				}

				&.overlap {
					margin-bottom: -8em;
				}
			}

			& section {

				&>:not(section) {
					margin-right: auto;
					margin-left: auto;
					max-width: 800px;
					padding: 0 2rem;

					@media(--800vp) {
						padding: 0 4rem;
					}

					@media(--1050vp) {
						margin-left: 4rem;
						max-width: 600px;
					}

					@media(--1200vp) {
						max-width: 700px;
					}

					@media(--1300vp) {
						margin-left: 8rem;
						max-width: 800px;
					}
				}

				&.gray {
					background-color: var(--Gray);
					padding: 100px 0 0;
					margin-bottom: 2em;

					@media(--800vp) {
						padding: 150px 0 0;
						margin-bottom: 4em;
					}

					@media(--1050vp) {
						padding: 300px 0 150px;
						margin-bottom: 8em;
					}
				}

				&.mint {
					background-color: var(--Mint);
					padding: 4em 0 1em;
					margin-top: 4em;

					@media(--800vp) {
						padding: 1em 0;
					}

					@media(--1050vp) {
						background-color: transparent;
					}

					&:last-of-type {
						background-color: var(--Mint);
						margin-top: 0;
						padding: 1em 0 1em;

						@media(--800vp) {
							padding: 4em 0;
						}
					}

					& h3 {
						font-weight: 900;
						line-height: 1.2;
					}
				}
			}

			& p a {
				font-weight: 600;
				font-family: "tenso", sans-serif;
			}

			& strong {
				font-family: "tenso", sans-serif;
			}

			& ol {
				list-style: none;
				padding-left: 2em;
				margin: 2em auto;
				counter-reset: number-counter;

				@media(--800vp) {
					padding-left: 0;
				}

				& li {
					position: relative;
					padding-top: 4.5em;
					padding-left: 1em;
					font-size: 15px;
					padding-bottom: 2em;
					counter-increment: number-counter;
					font-family: "miller-text", serif;

					@media(--800vp) {
						padding-top: 0;
						padding-left: 94px;
						font-size: 20px;
					}

					&:last-of-type {
						padding-bottom: 0;
					}

					& h3 {
						margin: 0;
						font-weight: 900;
						font-family: "tenso", sans-serif;
					}

					&:before {
						content: '0'counter(number-counter);
						position: absolute;
						top: 10px;
						left: 15px;
						color: var(--Black);
						font-size: 36px;
						font-weight: 900;
						z-index: 2;
						font-family: "tenso", sans-serif;

						@media(--800vp) {
							left: 20px;
						}
					}

					&:after {
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						background-color: var(--Yellow);
						border-radius: 50%;
						width: 42px;
						height: 42px;

						@media(--800vp) {
							width: 48px;
							height: 48px;
							left: 0;
						}
					}

					& a {
						color: var(--Black);
					}
				}
			}
		}
	}
}