/*----------------------------------------------------------------*\
	APPROACH 2 TEMPLATE
\*----------------------------------------------------------------*/
body.approach-template-approach-2 {
	& main {
		&>article {
			margin: 0;

			@media(--800vp) {
				margin: 4em 0;
			}

			& p {
				font-family: "miller-text", serif;
			}

			& .title {
				position: relative;
				max-width: 1110px;

				& .h2 {
					margin-top: 2rem;
					line-height: 1.2;
					top: 33%;
					left: 5%;
					font-weight: 900;

					@media(--800vp) {
						position: absolute;
					}

					& span {

						@media(--800vp) {
							display: block;
						}

						&:last-of-type {
							background-color: var(--White);
						}
					}
				}
			}

			&:not(section) {
				padding: 0 2rem;

				@media(--800vp) {
					padding: 0 4rem;
				}
			}

			& p {
				font-size: 15px;

				@media(--800vp) {
					font-size: 20px;
				}
			}

			&>p {
				&:first-of-type {
					font-size: 17px;
					font-family: "tenso", sans-serif;

					@media(--800vp) {
						font-size: 28px;
					}
				}
			}

			&>img {
				&:last-of-type {
					max-width: 800px;
					display: flex;
				}
			}

			& img {
				max-width: inherit;
				width: 100%;
			}

			& .h2 {
				line-height: 1.1;
			}

			& ol {
				list-style: none;
				padding-left: 0;
				margin: 2em auto;
				counter-reset: number-counter;

				& li {
					position: relative;
					padding-top: 4.5em;
					padding-left: 1em;
					font-size: 15px;
					padding-bottom: 1.5em;
					counter-increment: number-counter;
					font-family: "miller-text", serif;

					@media(--800vp) {
						padding-top: 0;
						padding-left: 94px;
						font-size: 20px;
					}

					&:last-of-type {
						padding-bottom: 0;
					}

					& h3 {
						margin: 0;
						font-weight: 900;
						font-family: "tenso", sans-serif;
					}

					&:before {
						content: '0'counter(number-counter);
						position: absolute;
						top: 10px;
						left: 15px;
						color: var(--Black);
						font-size: 36px;
						font-weight: 900;
						z-index: 2;
						font-family: "tenso", sans-serif;

						@media(--800vp) {
							left: 20px;
						}
					}

					&:after {
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						background-color: var(--Mint);
						border-radius: 50%;
						width: 42px;
						height: 42px;

						@media(--800vp) {
							width: 48px;
							height: 48px;
							left: 0;
						}
					}
				}
			}

			& .flex {
				display: flex;
				flex-wrap: wrap;
				align-items: flex-start;
				max-width: 1200px;
				position: relative;
				padding: 0;

				@media(--800vp) {
					padding: 0 4em;
				}

				&.three {
					max-width: 1200px;
					margin-right: auto;
					padding: 0 2em;

					@media(--800vp) {
						padding: 0 4em;
					}

					&>img {
						width: 100%;
						padding: 1em;

						@media(--800vp) {
							width: 33.33%;
						}
					}
				}

				&.four {
					max-width: 1200px;
					margin-right: auto;
					padding: 0;
					margin-bottom: 1em;

					@media(--800vp) {
						padding: 0 4em;
						margin-bottom: 0;
					}

					&>img {
						width: 50%;
						padding: .5em;

						@media(--800vp) {
							width: 25%;
							padding: 1em;
						}
					}
				}

				&>div {
					width: 100%;
					padding: 0;
					z-index: 1;

					@media(--800vp) {
						width: 60%;
					}

					& h3 {
						margin-top: 0;

						@media(--800vp) {
							margin-top: 1.5rem;
						}
					}
				}

				&>img {
					width: 100%;
					height: auto;
					padding: 6em 2em 0;

					@media(--800vp) {
						width: 40%;
						padding: 2em;
					}
				}
			}

			& .pro-tip {
				position: relative;
				max-width: 1200px;

				@media(--800vp) {
					padding-bottom: 14em;
				}

				&>div {
					top: -2em;
					right: 0;
					background-color: var(--Mint);
					padding: 1em;

					@media(--800vp) {
						position: absolute;
						width: 370px;
						background-color: transparent;
					}

					& h5 {
						margin: 0;
					}

					& p {
						font-style: italic;
						font-family: "tenso", sans-serif;

						@media(--800vp) {
							font-style: normal;
							font-size: 18px;
						}
					}
				}
			}
		}
	}
}