/*----------------------------------------------------------------*\
	APPROACH 9 TEMPLATE
\*----------------------------------------------------------------*/
body.approach-template-approach-9 {
	& main {
		&>article {
			margin: 0;

			@media(--800vp) {
				margin: 4em 0;
			}

			& p {
				font-family: "miller-text", serif;
				font-size: 15px;

				@media(--800vp) {
					font-size: 20px;
				}
			}

			&>:not(section) {
				padding: 0 2rem;

				@media(--800vp) {
					padding: 0 4rem;
				}
			}

			& h3 {
				font-weight: 900;
				line-height: 1.2;
			}

			& .title {
				position: relative;
				max-width: 1110px;
				overflow: hidden;
				min-height: 400px;
				padding: 0;
				background-color: var(--Mint);
				padding-top: 200px;
				margin-bottom: 4em;

				@media(--500vp) {
					min-height: inherit;
				}

				@media(--800vp) {
					background-color: transparent;
					padding-top: inherit;
				}

				& .h2 {
					max-width: inherit;
					position: absolute;
					top: 2rem;
					left: 2rem;
					z-index: 2;
					line-height: 1.2;
					margin-top: 0;
					font-weight: 900;
					width: 70%;

					@media(--500vp) {
						width: 100%;
						margin-top: 1.5rem;
					}

					@media(--800vp) {
						top: 10%;
						left: 5%;
						font-size: 45px;
						max-width: 315px;
					}

					@media(--1050vp) {
						max-width: 380px;
						font-size: 55px;
					}
				}

				& img {
					margin-bottom: -1em;
					width: 160%;
					transform: translateX(-32%);

					@media(--500vp) {
						width: 100%;
						transform: inherit;
					}

					@media(--800vp) {
						margin-bottom: 0;
					}
				}
			}

			& p.large-p {
				font-size: 17px;
				font-weight: 500;
				font-family: "tenso", sans-serif;

				@media(--800vp) {
					font-size: 28px;
				}
			}

			& img {
				max-width: inherit;
				width: 100%;
				padding: 0;
			}

			& section {
				padding: 4em 0;
				margin: 4em auto;
				max-width: 1200px;

				&>:not(section) {
					margin-right: auto;
					margin-left: auto;
					max-width: 800px;
					padding: 0 2rem;

					@media(--800vp) {
						padding: 0 4rem;
					}
				}

				&.black {
					background-color: var(--Black);
					color: var(--White);
					margin: 120px 2em 4em;

					@media(--500vp) {
						margin: 300px auto -10em;
					}

					@media(--800vp) {
						margin: 500px auto 8em;
					}

					&:last-of-type {
						margin: 150px auto -10em;
						max-width: inherit;
						padding: 4em 0 200px;

						@media(--500vp) {
							margin: 200px auto -10em;
						}

						@media(--800vp) {
							margin: 300px auto -10em;
						}

						& img {
							margin-top: -11em;
							width: 390px;
							padding: 0;
							display: flex;

							@media(--1050vp) {
								margin-top: -18em;
								width: 70%;
								padding: 0 8em;
							}
						}
					}

					& h3 {
						margin-top: 1.5rem;
						line-height: 1.2;

						@media(--800vp) {
							margin-top: 100px;
						}
					}

					& img {
						margin-top: -26em;
						padding: 0 2em;
						max-width: inherit;

						@media(--800vp) {
							padding: 0 8em;
						}
					}
				}

				&.mint {
					background-color: var(--Mint);
					background-image: url(../images/InternetSpeak-Artwork-7.png);
					background-position: center bottom;
					background-repeat: no-repeat;
					background-size: 14em;
					padding-right: 0;
					padding-top: 1em;
					padding-bottom: 22em;

					@media(--800vp) {
						background-position: center right;
						background-size: contain;
						padding-right: 14em;
						padding-top: 4em;
						padding-bottom: 4em;
					}

					@media(--1200vp) {
						background-position: 92% 100%;
					}

					& h3 {
						font-weight: 900;
						line-height: 1.2;
					}
				}
			}

			& .flex {
				display: flex;
				flex-wrap: wrap;
				align-items: flex-start;
				max-width: 1200px;
				position: relative;
				padding: 0;

				@media(--800vp) {
					padding: 0 4em;
				}

				&.tip {
					justify-content: space-between;
					align-items: center;
					margin: 4em auto;
				}

				&>div {
					width: 100%;
					padding: 0 2em;
					z-index: 1;

					@media(--800vp) {
						width: 60%;
						padding-left: 4em;
					}

					&.pro-tip {
						width: 80%;
						padding-left: 0;
						position: relative;
						margin-left: 2em;
						margin-top: 6em;
						order: 2;

						@media(--500vp) {
							width: 50%;
						}

						@media(--800vp) {
							width: 30%;
							margin-top: 0;
							order: inherit;
						}

						&:before {
							content: '';
							position: absolute;
							top: -5em;
							left: -3em;
							width: 340px;
							height: 340px;
							background-color: var(--Yellow);
							border-radius: 50%;
							z-index: -1;

							@media(--500vp) {
								top: -4em;
								left: -4em;
								width: 265px;
								height: 265px;
							}
						}

						& h5 {
							margin: 0;
							border-top: none;
							padding-top: .5em;
							font-size: 18px;
						}

						& p {
							font-style: italic;
							margin-top: 0;
							padding-right: 2em;
							font-family: "tenso", sans-serif;
						}
					}
				}

				&>img {
					width: 100%;
					height: auto;
					padding: 2em 7em;

					@media(--500vp) {
						padding: 2em 10em;
					}

					@media(--800vp) {
						width: 40%;
						padding: 0 2em;
					}

					@media(--1050vp) {
						padding: 0 4em;
					}
				}
			}

			& .three-circles {
				position: relative;
				margin: 0 auto;
				padding: 2em;

				@media(--800vp) {
					padding: 10em 4em;
				}

				& img {
					position: relative;
					z-index: 2;
					margin-bottom: -8em;
					width: 128%;
					transform: translateX(-10%);

					@media(--500vp) {
						width: 100%;
						transform: inherit;
					}

					@media(--800vp) {
						margin-bottom: 0;
					}

					&.desktop {
						display: none;

						@media(--800vp) {
							display: block;
						}
					}

					&.mobile {
						display: block;

						@media(--800vp) {
							display: none;
						}
					}
				}

				&>div {
					top: 13em;
					left: -6em;
					background-color: var(--Yellow);
					display: flex;
					flex-wrap: wrap;
					justify-content: center;
					align-items: center;
					align-content: center;
					text-align: center;
					padding: 8em 2em 2em;

					@media(--800vp) {
						position: absolute;
						width: 340px;
						height: 340px;
						border-radius: 50%;
						padding: 5em;
					}

					&:nth-of-type(2) {
						top: inherit;
						bottom: 0;
						right: 0;
						left: inherit;
						padding: 13px 2em 2em;

						@media(--800vp) {
							padding: 5em;
						}
					}

					&:nth-of-type(3) {
						top: 2em;
						right: 2em;
						left: inherit;
						padding: 13px 2em 2em;

						@media(--800vp) {
							padding: 5em;
						}
					}

					& h5 {
						margin: 0;
						font-size: 24px;
					}

					& p {
						margin: 0;
						font-size: 16px;
					}
				}
			}
		}
	}

	& section.further-reading {
		position: relative;
	}
}