/*----------------------------------------------------------------*\
	APPROACH 3 TEMPLATE
\*----------------------------------------------------------------*/
body.approach-template-approach-3 {
	& main {
		&>article {
			overflow: hidden;
			margin: 0;

			@media(--800vp) {
				margin: 4em 0 0;
			}

			& p {
				font-family: "miller-text", serif;
			}

			& h3 {
				font-weight: 900;
			}

			& .title {
				position: relative;
				max-width: 1110px;
				min-height: 400px;
				width: calc(100% + 4em);
				transform: translateX(-2em);
				overflow: hidden;

				@media(--500vp) {
					overflow: hidden;
					min-height: inherit;
					margin-bottom: 4em;
					width: 100%;
					transform: inherit;
				}

				& .h2 {
					color: var(--White);
					max-width: 240px;
					position: absolute;
					z-index: 2;
					margin-top: 2rem;
					line-height: 1.2;
					font-weight: 900;
					margin-left: 2rem;

					@media(--800vp) {
						max-width: 550px;
						top: 10%;
						left: 5%;
						margin-left: auto;
					}

					& span {
						display: initial;

						@media(--800vp) {
							display: block;
						}
					}
				}

				& img {
					width: 270%;
					position: absolute;
					top: -30%;
					left: -85%;

					@media(--500vp) {
						width: 100%;
						position: initial;
					}
				}
			}

			&:not(section) {
				padding: 0 2rem 2em;

				@media(--800vp) {
					padding: 0 4rem;
				}
			}

			&>:not(section) {
				max-width: 824px;
			}

			& p {
				font-size: 15px;

				@media(--800vp) {
					font-size: 20px;
				}
			}

			&>p {
				&:first-of-type {
					font-size: 17px;
					font-family: "tenso", sans-serif;
					margin-bottom: 1.5em;
					margin-top: 3em;

					@media(--800vp) {
						font-size: 28px;
						margin-top: inherit;
					}

					& strong {
						font-weight: 500;
					}
				}
			}

			& img {
				max-width: inherit;
				width: 100%;
			}

			& .h2 {
				line-height: 1.2;
			}

			& .flex {
				display: flex;
				flex-wrap: wrap;
				align-items: flex-start;
				max-width: 1200px;
				position: relative;
				padding: 0;
				margin-top: 0;

				@media(--800vp) {
					padding: 0 4em;
					margin-top: 6em;
				}

				&.tip {
					justify-content: space-between;
					align-items: center;
					margin: 36px auto;

					&>div {
						width: 100%;

						@media(--800vp) {
							width: 55%;
						}
					}
				}

				&>div {
					width: 100%;
					padding: 0;
					z-index: 1;

					@media(--800vp) {
						width: 60%;
						padding-left: 4em;
					}

					&.pro-tip {
						width: 100%;
						padding-left: 0;
						position: relative;
						margin-left: 0;
						margin-top: 6em;
						order: 2;

						@media(--500vp) {
							width: 50%;
							margin-left: 2em;
						}

						@media(--800vp) {
							width: 25%;
							margin-left: 10em;
							margin-top: 0;
							order: inherit;
						}

						&:before {
							content: '';
							position: absolute;
							top: -5em;
							left: -3em;
							width: 340px;
							height: 340px;
							background-color: var(--Yellow);
							border-radius: 50%;
							z-index: -1;

							@media(--500vp) {
								top: -4em;
								left: -4em;
								width: 265px;
								height: 265px;
							}
						}

						& h5 {
							margin: 0;
							border-top: 2px solid var(--Black);
							padding-top: .5em;
							font-size: 18px;
						}

						& p {
							font-style: italic;
							margin-top: 0;
							padding-right: 2em;
							font-family: "tenso", sans-serif;
							max-width: 260px;
						}
					}
				}

				&>img {
					width: 100%;
					height: auto;
					padding: 0 6em;
					margin: 2em 0;

					@media(--500vp) {
						padding: 2em 10em;
						margin: 0;
					}

					@media(--800vp) {
						width: 40%;
						padding: 0 2em;
					}

					@media(--1050vp) {
						padding: 0 4em;
					}

					@media(--1300vp) {
						width: auto;
						max-height: 570px;
					}
				}
			}

			& section {
				background-color: var(--Mint);
				max-width: 1200px;
				margin: 2em auto 120px;
				padding: 0 2em;
				position: relative;
				width: calc(100% + 4rem);
				margin-left: -2rem;

				@media(--800vp) {
					padding: 0 4em;
					width: 100%;
					margin-left: auto;
					margin: 123px auto 200px;
				}

				&>div {
					padding: 2em 0 190px;

					@media(--500vp) {
						padding: 6em 0 320px;
					}

					@media(--800vp) {
						padding: 6em 0 320px;
					}

					@media(--1050vp) {
						padding: 6em 0 340px;
					}

					@media(--1200vp) {
						padding: 6em 0 500px;
					}

					& h3 {
						max-width: 800px;
						margin-right: auto;
						margin-left: auto;
						font-weight: 900;
					}

					& p {
						max-width: 800px;
						margin-right: auto;
						margin-left: auto;
					}

					& img {
						max-width: calc(100% + 3em);
						position: absolute;
						bottom: -4em;
						left: -1.5em;
						width: calc(100% + 3em);

						@media(--500vp) {
							max-width: 100%;
							bottom: -6em;
							left: 0;
							width: 100%;
						}

						@media(--800vp) {
							max-width: calc(100% - 12em);
							bottom: -4em;
							left: 6em;
						}

						@media(--1050vp) {
							bottom: -8em;
						}
					}
				}
			}
		}
	}

	& .flex.yellow {
		background-color: var(--Yellow);
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		padding: 0;
		margin: 10em 0 0;

		@media(--500vp) {
			margin: 6em 0 0;
		}

		@media(--800vp) {
			padding: 0 4em;
		}

		& img {
			width: 100%;
			padding: 3em 4em 0;
			margin: -10em auto 0;

			@media(--500vp) {
				width: 70%;
				padding: 4em 4em 0;
				margin: 0 auto;
			}

			@media(--800vp) {
				width: 45%;
				padding: 4em;
			}

			@media(--1050vp) {
				padding: 8em;
			}
		}

		& div {
			width: 100%;
			padding: 2em;

			@media(--800vp) {
				width: 50%;
				padding: 2em 0;
			}

			& h3 {
				margin-top: 0;
				font-weight: 900;

				@media(--800vp) {
					margin-top: inherit;
				}
			}

			& p {
				font-family: "miller-text", serif;

				@media(--800vp) {
					max-width: 540px;
				}
			}
		}
	}
}