/*----------------------------------------------------------------*\
	APPROACH 7 TEMPLATE
\*----------------------------------------------------------------*/
body.approach-template-approach-7 {
	& main {
		&>article {
			margin: 0 0 100px;

			@media(--800vp) {
				margin: 4em 0 100px;
			}

			& .h2 {
				max-width: 1200px;
				line-height: 1.2;
				margin-top: 2rem;
				font-weight: 900;
			}

			& h5 {
				max-width: 1200px;
				font-weight: 900;
				line-height: 1.2;
				font-size: 24px;
				margin-bottom: 0;

				@media(--800vp) {
					font-size: 25px;
				}

				&+p {
					margin-top: 0;
				}
			}

			&>h5 {
				margin-bottom: 1rem;
			}

			& p {
				font-family: "miller-text", serif;
				font-size: 15px;

				@media(--800vp) {
					font-size: 20px;
				}
			}

			& p.large-p {
				font-size: 17px;
				font-weight: 500;
				font-family: "tenso", sans-serif;

				@media(--800vp) {
					font-size: 28px;
				}
			}

			&>:not(section) {
				padding: 0 2rem;

				@media(--800vp) {
					padding: 0 4rem;
				}
			}

			& img {
				max-width: inherit;
				width: 100%;

				&.desktop {
					display: none;

					@media(--800vp) {
						display: block;
					}
				}

				&.mobile {
					display: block;
					padding: 0;

					@media(--800vp) {
						display: none;
					}
				}

				&.overlap {
					margin-bottom: -8em;
				}
			}

			& section {
				background-color: var(--Yellow);
				padding: 8em 0 4em;
				overflow: hidden;

				@media(--800vp) {
					padding: 4em 0 200px;
				}

				&>div {
					position: relative;
					padding: 2em;
					margin-right: auto;
					margin-left: auto;
					max-width: 800px;

					@media(--800vp) {
						padding: 4em 4em 4em 12em;
					}

					@media(--1200vp) {
						padding: 4em 0 4em 12em;
					}

					&:before {
						content: '';
						background-image: none;
						background-position: center;
						background-repeat: no-repeat;
						background-size: contain;
						position: absolute;
						top: 0;
						left: -14em;
						width: 375px;
						height: 590px;
						z-index: 1;

						@media(--800vp) {
							background-image: url(../images/Ski_CC_Logo_Side@2x.png);
						}
					}

					&:after {
						content: '';
						background-image: none;
						background-position: center;
						background-repeat: no-repeat;
						background-size: contain;
						position: absolute;
						top: -29em;
						right: -80em;
						width: 2000px;
						height: 2200px;

						@media(--800vp) {
							background-image: url(../images/Ski_CC_Logo_Shape.svg);
						}
					}

					& h5,
					& p {
						position: relative;
						z-index: 2;
					}
				}

				&>p {
					margin-right: auto;
					margin-left: auto;
					max-width: 800px;
					padding: 0 2rem;

					@media(--800vp) {
						padding: 0 4rem;
					}
				}
			}

			& .relative {
				position: relative;
				max-width: inherit;
				height: auto;

				& img {
					position: absolute;
					left: calc(50% - 150px);
					bottom: -15em;
					width: 300px;
					height: auto;
					z-index: 3;

					@media(--500vp) {
						left: calc(50% - 150px);
						bottom: -16em;
						width: 300px;
					}

					@media(--800vp) {
						width: 460px;
						left: calc(50% - 230px);
						bottom: -22em;
					}
				}
			}
		}
	}
}