/*----------------------------------------------------------------*\
	APPROACH 1 TEMPLATE
\*----------------------------------------------------------------*/
body.approach-template-approach-1 {
	&.is-active {
		& .primary-navigation {
			& nav {
				&>a svg {
					fill: var(--Black);
				}

				& #menu-primary-navigation li a {
					color: var(--Black);

					&:after {
						background: var(--Black);
					}
				}

				& .hamburger-menu,
				& .hamburger-menu::before,
				& .hamburger-menu::after {
					background: var(--Black);
				}
			}
		}
	}

	& .primary-navigation {
		background-color: transparent;

		& nav {
			&>a svg {
				fill: var(--White);
			}

			& #menu-primary-navigation li a {
				color: var(--White);

				&:after {
					background: var(--White);
				}
			}

			& .hamburger-menu,
			& .hamburger-menu::before,
			& .hamburger-menu::after {
				background: var(--White);
			}

			& .hamburger-menu.is-active {
				background-color: rgba(255, 255, 255, 0);
			}
		}
	}

	& .wings {

		& svg {
			fill: #ffffff;
		}
	}

	& main {
		&>article {
			margin: -100px 0 8em;

			& p {
				font-family: "miller-text", serif;
			}

			& .black-bg {
				background-color: #000000;
				color: #fff;
				max-width: inherit;
				padding: 100px 2em 50px;
				overflow: hidden;

				@media(--800vp) {
					padding: 100px 4em 0;
				}

				& .moon-header {
					display: flex;
					flex-wrap: wrap;
					align-items: flex-start;
					max-width: inherit;

					& img {
						order: 2;

						@media(--800vp) {
							order: 1;
						}
					}

					& h1 {
						order: 1;
						max-width: 800px;
						margin-right: auto;
						margin-left: auto;
						width: 100%;
						margin-top: 2rem;

						@media(--800vp) {
							order: 2;
						}
					}
				}

				&>:not(section) {
					margin-right: auto;
					margin-left: auto;
					max-width: 800px;
				}

				&>p {
					&:first-of-type {
						font-size: 17px;
						font-family: "tenso", sans-serif;
						line-height: 1.4;

						@media(--800vp) {
							font-size: 28px;
						}
					}
				}

				& img {
					max-width: inherit;
					width: 100%;
					height: auto;

					&:nth-of-type(2) {
						max-width: 1200px;
						display: flex;
					}
				}

				& .h2 {
					line-height: 1.1;
					font-weight: 900;
				}

				& ol {
					list-style: none;
					padding-left: 0;
					margin: 2em auto;
					counter-reset: number-counter;

					& li {
						position: relative;
						padding-top: 4.5em;
						padding-left: 1em;
						font-size: 15px;
						padding-bottom: 1.5em;
						counter-increment: number-counter;
						line-height: 1.5;

						@media(--800vp) {
							padding-top: 0;
							padding-left: 140px;
							font-size: 24px;
						}

						&:before {
							content: '0'counter(number-counter);
							position: absolute;
							top: 10px;
							left: 15px;
							color: var(--White);
							font-size: 36px;
							font-weight: bold;
							z-index: 2;

							@media(--800vp) {
								left: 64px;
							}
						}

						&:after {
							content: '';
							position: absolute;
							top: 0;
							left: 0;
							background-color: var(--Mint);
							border-radius: 50%;
							width: 42px;
							height: 42px;

							@media(--800vp) {
								width: 48px;
								height: 48px;
								left: 40px;
							}
						}

						& a {
							color: var(--White);
						}
					}
				}

				& .flex {
					display: flex;
					flex-wrap: wrap;
					align-items: flex-start;
					max-width: 1110px;
					margin-right: 0;
					position: relative;

					&:last-of-type {
						padding-bottom: 20em;

						@media(--500vp) {
							padding-bottom: 28em;
						}

						@media(--800vp) {
							padding-bottom: 12em;
						}

						@media(--1050vp) {
							padding-bottom: 18em;
						}

						@media(--1200vp) {
							padding-bottom: 28em;
						}

						@media(--1500vp) {
							margin-top: 20em;
						}

						&>img {
							position: absolute;
							bottom: 0;
							right: -2em;
							width: 100vw;
							max-width: initial;

							@media(--800vp) {
								right: -4em;
							}

							@media(--1500vp) {
								right: -8em;
							}
						}
					}

					&>div {
						width: 100%;
						padding: 0 2em;
						z-index: 1;

						@media(--800vp) {
							width: 60%;
							padding: 0;
						}
					}

					&>img {
						width: 100%;
						height: auto;

						@media(--800vp) {
							width: 40%;
						}
					}
				}
			}

			& .white-bg {
				max-width: inherit;

				&>:not(section) {
					margin-right: auto;
					margin-left: auto;
					max-width: 800px;
				}

				& img {
					max-width: inherit;
					width: 100%;
				}

				& h3,
				& p {
					padding: 0 2rem;

					@media(--800vp) {
						padding: 0 4rem;
					}
				}
			}
		}
	}

	& section.further-reading,
	& section.related-approach {
		background-color: var(--White);
	}
}