/*----------------------------------------------------------------*\
	APPROACH 5 TEMPLATE
\*----------------------------------------------------------------*/
body.approach-template-approach-5 {
	& main {
		&>article {
			margin: 0;

			@media(--800vp) {
				margin: 4em 0;
			}

			&>h3 {
				font-weight: 900;
			}

			& p {
				font-family: "miller-text", serif;
				font-size: 15px;

				@media(--800vp) {
					font-size: 16px;
				}

				&.tenso-regular {
					font-family: "tenso", sans-serif;
					font-weight: 600;
					text-align: center;
					font-size: 16px;

					@media(--800vp) {
						text-align: left;
					}
				}

				&.has-small-font-size {
					font-size: 14px;
					font-weight: 400;

					@media(--800vp) {
						font-size: 14px;
					}
				}
			}

			&>:not(section) {
				padding: 0 2rem;
				max-width: 950px;

				@media(--800vp) {
					padding: 0 4rem;
				}

				@media(--1200vp) {
					padding: 0;
				}
			}

			& .title {
				position: relative;
				max-width: 1110px;
				overflow: hidden;
				min-height: 400px;
				padding: 0;

				@media(--500vp) {
					min-height: inherit;
				}

				& .h2 {
					position: absolute;
					top: 2rem;
					left: 2rem;
					z-index: 2;
					line-height: 1.1;
					margin-top: 0;
					font-weight: 900;
					width: 52%;

					@media(--500vp) {
						width: 100%;
						max-width: 330px;
						margin-top: 1.5rem;
					}

					@media(--800vp) {
						top: 10%;
						left: 5%;
					}

					& span {
						text-decoration: line-through;
					}
				}

				& img {
					width: 100%;
					height: auto;
				}
			}

			& p.large-p {
				font-size: 17px;
				font-weight: 500;
				font-family: "tenso", sans-serif;
				line-height: 1.2;

				@media(--800vp) {
					font-size: 28px;
				}

				&:first-of-type {
					margin-top: 60px;

					@media(--800vp) {
						margin-top: 80px;
					}
				}
			}

			& h4 {
				line-height: 1.2;
				font-size: 20px;

				@media(--800vp) {
					font-size: 26px;
				}
			}

			& img {
				max-width: inherit;
				width: 100%;
				height: auto;
				padding: 0 !important;
			}

			& .overflow {
				overflow: hidden;
				max-width: inherit;
				padding: 0;

				&>img {
					width: 180%;
					transform: translateX(-35%);
					margin-top: 2em;

					@media(--500vp) {
						width: 100%;
						transform: inherit;
						margin-top: 0;
					}
				}
			}

			& .flex {
				display: flex;
				flex-wrap: wrap;
				align-items: flex-start;
				max-width: 1200px;
				margin-left: auto;
				margin-right: auto;
				position: relative;
				padding: 0 2em;

				@media(--800vp) {
					padding: 100px 4em 0;
				}

				&.three {
					justify-content: space-between;
					max-width: 950px;
					margin-right: auto;
					padding: 0 2em;
					margin-bottom: 2em;

					@media(--800vp) {
						padding: 0 4em;
					}

					@media(--1200vp) {
						padding: 0;
					}

					&>div {
						width: 100%;
						padding: 0;

						@media(--800vp) {
							width: 30%;
						}

						& p {
							font-family: "tenso", sans-serif;
							font-size: 16px;
						}
					}
				}

				& h3 {
					font-weight: 900;
				}

				&.two {
					max-width: 950px;
					padding: 0;
					justify-content: space-between;
					padding: 0;

					&>div {
						width: 100%;
						padding: 0;

						@media(--800vp) {
							width: 45%;
						}

						& p {
							font-family: "tenso", sans-serif;
							font-size: 16px;

							&.large-p {
								font-size: 20px;

								@media(--800vp) {
									font-size: 28px;
								}
							}
						}
					}
				}

				&>div {
					max-width: 586px;
					width: 100%;
					padding: 0;
					z-index: 1;

					@media(--800vp) {
						width: 60%;
					}

					@media(--1200vp) {
						padding-left: 4em;
					}

					& img {
						width: 80%;
						margin-top: 32px;
						margin-right: auto;
						margin-left: auto;
						margin-bottom: 70px;

						@media(--800vp) {
							margin-top: 0;
							margin-bottom: 3em;
						}
					}
				}

				&>img {
					width: 90%;
					height: auto;
					margin-top: 0;
					padding: 3em !important;

					@media(--500vp) {
						width: 70%;
						margin-left: auto;
						margin-right: 0;
					}

					@media(--800vp) {
						width: 40%;
						margin-top: -10em;
					}
				}
			}

			& section {
				background-color: var(--Mint);
				margin-top: -3em;

				&.hill {
					background-image: url(../images/19-SKI-CoreContent-Audience-3-Mobile.png);
					background-position: 0 101%;
					background-repeat: no-repeat;
					background-size: contain;
					padding: 0 2em 400px;

					@media(--500vp) {
						background-image: url(../images/19-SKI-CoreContent-Audience-3-Desktop.png);
						background-size: 200%;
					}

					@media(--800vp) {
						background-size: contain;
						padding: 0 4em 600px;
					}

					@media(--1500vp) {
						background-size: cover;
						padding: 0 4em 750px;
						background-position: 0 99%;
					}
				}

				&.single-image {
					background-image: url(../images/19-SKI-CoreContent-Audience-5-Desktop.png);
					background-position: 10% top;
					background-repeat: no-repeat;
					background-size: 180%;
					padding-top: 350px;
					padding-bottom: 300px;
					margin-top: 2em;
					margin-bottom: 0;
					display: flex;
					align-items: center;
					position: relative;
					overflow: hidden;

					@media(--500vp) {
						background-position: 0 top;
						background-size: contain;
						margin-top: 8em;
						padding-top: 400px;
						padding-bottom: inherit;
					}

					@media(--800vp) {
						padding-top: 600px;
					}

					@media(--1200vp) {
						padding-top: 800px;
					}

					& img {
						margin-bottom: -5px;
						transform: translateX(-4%);
						width: 120%;
						position: absolute;
						bottom: 0;

						@media(--500vp) {
							transform: inherit;
							width: 100%;
							position: inherit;
						}
					}
				}

				& h3 {
					max-width: 950px;
					margin-left: auto;
					margin-right: auto;
					padding-top: 2em;
					font-size: 24px;

					@media(--800vp) {
						padding-top: inherit;
						font-size: 35px;
						font-weight: 900;
					}
				}

				&>p {
					max-width: 950px;
					margin-left: auto;
					margin-right: auto;
					padding-right: 0;

					@media(--800vp) {
						padding-right: 12em;
					}
				}
			}

			& .right-p {
				margin-right: 0;
				max-width: 800px;

				@media(--800vp) {
					margin-right: 6em;
				}

				@media(--1500vp) {
					margin-right: 24em;
				}

				& h3 {
					font-weight: 900;
				}
			}

			& .relative {
				position: relative;
				max-width: inherit;
				height: auto;

				& img {
					position: absolute;
					right: calc(50% - 100px);
					bottom: -10em;
					width: 200px;
					z-index: 3;

					@media(--500vp) {
						right: 1em;
						bottom: -10em;
						width: 300px;
					}

					@media(--800vp) {
						width: 414px;
						right: 25%;
						bottom: -17em;
					}
				}
			}
		}
	}

	& section.further-reading {
		& div {
			padding-top: 6em;

			@media(--800vp) {
				padding-top: 4em;
			}
		}
	}
}