/*----------------------------------------------------------------*\
	APPROACH 4 TEMPLATE
\*----------------------------------------------------------------*/
body.approach-template-approach-4 {
	& .primary-navigation {
		background-color: transparent;
	}

	& main {
		&>article {
			background-color: var(--Yellow);
			margin-top: -100px;
			padding-top: 100px;
			padding-bottom: 350px;
			overflow: hidden;

			@media(--800vp) {
				padding-bottom: 500px;
			}

			& p {
				font-family: "miller-text", serif;
			}

			&>:not(section) {
				padding: 0 2rem;

				@media(--800vp) {
					padding: 0 4rem;
				}
			}

			& .title {
				max-width: 1200px;

				& .h2 {
					max-width: 800px;
					padding: 0;
					line-height: 1.1;
					font-weight: 900;

					@media(--800vp) {
						padding: 0 4rem;
						margin-top: 135px;
					}
				}

				& img {
					max-width: inherit;
					width: 100%;
				}
			}

			& p.large-p {
				font-size: 17px;
				font-weight: 500;
				font-family: "tenso", sans-serif;

				@media(--800vp) {
					font-size: 28px;
				}
			}

			& section {
				background-color: var(--Black);
				color: var(--White);
				margin: 4em 0;
				padding: 4em 2em;
				text-align: left;
				position: relative;

				@media(--800vp) {
					padding: 4em;
					text-align: center;
				}

				&:first-of-type {
					&:before {
						content: '';
						position: absolute;
						top: -23em;
						left: -14em;
						background-image: url(../images/BrandvMarketing-V2-2.png);
						background-position: center;
						background-repeat: no-repeat;
						background-size: contain;
						width: 418px;
						height: 500px;
						transform: rotate(-30deg);

						@media(--800vp) {
							left: -8em;
							transform: inherit;
						}

						@media(--1200vp) {
							top: -25em;
							left: -2em;
						}
					}
				}

				&:last-of-type {
					&:before {
						content: '';
						position: absolute;
						top: -38em;
						left: -8em;
						background-image: url(../images/BrandvMarketing-V2-1.png);
						background-position: center;
						background-repeat: no-repeat;
						background-size: contain;
						width: 1400px;
						height: 700px;

						@media(--800vp) {
							left: 10em;
						}
					}
				}

				& p {
					font-size: 28px;
					max-width: 600px;
					margin-left: auto;
					margin-right: auto;
					font-family: "tenso", sans-serif;
				}
			}

			& ol {
				list-style: none;
				padding-right: 8em;
				padding-left: 2em;
				margin: 2em auto;
				counter-reset: number-counter;

				@media(--800vp) {
					padding: 0 4rem;
				}

				& li {
					position: relative;
					padding-top: 4.5em;
					padding-left: 1em;
					font-size: 15px;
					padding-bottom: 1.5em;
					counter-increment: number-counter;
					line-height: 1.5;

					@media(--800vp) {
						padding-top: 0;
						padding-left: 94px;
						font-size: 20px;
					}

					&:last-of-type {
						padding-bottom: 0;
					}

					& h3 {
						margin: 0;
						font-weight: 900;
						font-family: "tenso", sans-serif;
					}

					&:before {
						content: '0'counter(number-counter);
						position: absolute;
						top: 10px;
						left: 15px;
						color: var(--Black);
						font-size: 36px;
						font-weight: 900;
						z-index: 2;
						font-family: "tenso", sans-serif;

						@media(--800vp) {
							left: 20px;
						}
					}

					&:after {
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						background-color: var(--Mint);
						border-radius: 50%;
						width: 42px;
						height: 42px;

						@media(--800vp) {
							width: 48px;
							height: 48px;
							left: 0;
						}
					}
				}
			}

			& .relative {
				position: relative;
				max-width: inherit;
				height: 240px;

				@media(--1050vp) {
					height: auto;
				}

				& img {
					position: absolute;
					top: -80em;
					right: -40em;
					width: 900px;

					@media(--1050vp) {
						top: -86em;
						right: -41em;
					}

					@media(--1200vp) {
						top: -114em;
						right: -53em;
						width: 1200px;
					}
				}

				&:last-of-type {
					height: auto;

					& img {
						position: absolute;
						top: inherit;
						bottom: -20em;
						right: 2em;
						width: 900px;
						z-index: 3;

						@media(--500vp) {
							right: 8em;
						}

						@media(--800vp) {
							width: 1200px;
							bottom: -35em;
							right: 4em;
						}

						@media(--1050vp) {
							right: 16em;
						}
					}
				}
			}
		}
	}

	& section.further-reading {
		position: relative;
		margin-top: -14em;
		z-index: 2;
	}
}