/*----------------------------------------------------------------*\
	ARCHIVE WORK TEMPLATES
\*----------------------------------------------------------------*/
body.post-type-archive-work {
	& main {
		padding: 0;

		@media(--800vp) {
			padding: 0 4em;
		}

		&>article.grid {
			max-width: 1200px;
			margin: 50px auto;

			@media(--800vp) {
				margin: 130px auto;
			}

			& article.preview {
				width: calc(100% - 30px);
				margin: 15px;
				overflow: hidden;

				@media(--500vp) {
					width: calc(50% - 30px);
				}

				@media(--800vp) {
					width: calc(33.33% - 30px);
				}

				& a {
					position: relative;
					display: block;

					&:hover,
					&:focus {
						& div {
							opacity: 1;
						}
					}

					& img {
						display: block;
						width: 100%;
						transition: .25s all linear;
					}

					& div {
						position: absolute;
						top: 2em;
						left: 2em;
						background-color: var(--Gray);
						color: var(--Black);
						width: calc(100% - 4em);
						opacity: 1;
						padding: 2em;
						transition: .25s all linear;

						@media(--800vp) {
							opacity: 0;
							padding: 3em 2em;
						}

						& p {
							margin: 0;
						}

						& h2 {
							margin: 0;
							font-size: 25px;
							line-height: 1.2;
						}
					}
				}
			}
		}
	}
}