/*----------------------------------------------------------------*\
	ARCHIVES TEMPLATES
\*----------------------------------------------------------------*/
.blog-wrap {
	display: grid;
	grid-template-columns: 100%;
	max-width: 1200px;
	margin: 2em auto;

	@media(--800vp) {
		grid-template-columns: 75% 25%;
		margin: 100px auto;
	}

	&>header.post-head {
		margin: 4em 2em 0;
		background-color: var(--Yellow);
		align-items: flex-end;
		justify-content: flex-start;
		padding: 6em 2em 2em;
		position: relative;

		@media(--800vp) {
			margin: 0 4em 0 0;
			padding: 6em 6em 2em;
		}

		&:before {
			content: '';
			position: absolute;
			top: -75px;
			left: 100px;
			background-image: url(../images/scribble-2.png);
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			width: 160px;
			height: 130px;
		}

		& h1 {
			margin: 0 0 1rem;
			width: 100%;
			line-height: 1;
		}

		& p {
			font-size: 28px;
			line-height: 1.2;
			margin: 0;
		}
	}

	&>aside {
		grid-row: span 2;
		padding: 4em 2em 0;

		@media(--800vp) {
			padding: 0 3em 0 1em;
			position: sticky;
			top: 2em;
			height: 500px;
		}

		& hr {
			margin: 0 auto;
			height: 1px;
		}

		& form {
			position: relative;
			margin-bottom: 4em;

			& label {
				display: none;
			}

			& input {
				border: none;
				padding: .5em 3em .5em 0;
				background-color: var(--White);
				-webkit-appearance: unset;
				font-size: 20px;
			}

			& button {
				position: absolute;
				top: 0;
				right: 0;
				margin: 0;
				background-color: transparent;
				color: transparent;
				font-size: 20px;
				padding: .5em 0;

				&:after {
					content: '';
					position: absolute;
					top: calc(50% - 1em);
					right: 0;
					background-image: url(../images/arrow.svg);
					background-position: center;
					background-repeat: no-repeat;
					background-size: contain;
					opacity: 1;
					width: 1.5em;
					height: 2em;
				}
			}
		}

		&>ul {
			margin-top: 3em;
			list-style: none;
			padding: 0;

			& a {
				color: var(--Black);
				text-decoration: none;
				font-size: 20px;
				padding: 0;
				display: inline-flex;
				transition: .4s all linear;
				line-height: 1.5;

				&:hover,
				&:focus,
				&.is-active {
					background-color: var(--Yellow);
				}
			}
		}
	}

	&>main {
		margin-right: 2em;
		margin-left: 2em;

		@media(--800vp) {
			margin-right: 4em;
			margin-left: 6em;
		}

		& article {
			&>p.result {
				font-size: 28px;
				margin: 0;
				position: relative;
			}

			& hr {
				margin: 0 auto 6em;
			}
		}
	}
}

/*-----------------------------------*\
	ARTICLE
\*-----------------------------------*/
article.archive-result {
	margin-bottom: 80px;

	& header {
		& a.category {
			padding: .375em 1.375em .25em;
			background-color: var(--Yellow);
			text-transform: uppercase;
			text-decoration: none;
			color: var(--Black);
			font-weight: 600;
			transition: .4s all linear;

			&:hover,
			&:focus {
				background-color: var(--Mint);
				text-decoration: none;
			}
		}

		& hr {
			margin: 1.5em auto;
			height: 1px;
		}

		&>a {
			text-decoration: none;
			color: var(--Black);

			&:hover,
			&:focus {
				text-decoration: underline;
			}

			& h2 {
				color: var(--Black);
				line-height: 1.2;
				font-size: 35px;
				font-weight: 900;
			}
		}

		&>p {
			font-size: 18px;

			&>span {
				text-transform: uppercase;
			}
		}
	}

	& .entry-content {
		& p {
			font-size: 20px;
			font-family: "miller-text", serif;
		}
	}
}

/*-----------------------------------*\
	PAGINATION
\*-----------------------------------*/
nav.pagination {
	max-width: var(--LargeWidth);
	margin: var(--LargeSpacing) auto var(--SmallSpacing) auto;
	text-align: center;

	& a {
		margin: 0 .5em;
	}
}