/*----------------------------------------------------------------*\
	ARCHIVE APPROACH TEMPLATES
\*----------------------------------------------------------------*/
body.post-type-archive-approach {
	& main {
		padding: 0;

		@media(--800vp) {
			padding: 0 4em;
		}

		&>article {
			max-width: 1200px;
			margin: 50px auto 0;
			display: flex;
			flex-wrap: wrap;

			@media(--800vp) {
				margin: 130px auto 0;
			}

			& article.preview {
				width: calc(100% - 30px);
				margin: 0 2em;
				position: relative;
				border-top: 1px solid var(--Black);
				margin-bottom: 100px;
				padding-bottom: 68%;

				@media(--500vp) {
					width: calc(50% - 30px);
					margin: 15px;
					margin-bottom: 200px;
					padding-bottom: 36%;
				}

				@media(--1050vp) {
					width: calc(33.33% - 30px);
					padding-bottom: 25%;
				}

				&>a {
					position: absolute;
					top: 0;
					bottom: 0;
					right: 0;
					left: 0;
					z-index: 2;

					&:hover,
					&:focus {
						&+h2 {
							text-decoration: underline;
						}

						&~div {
							& img {
								transform: scale(1.1);
							}
						}
					}
				}

				& h2 {
					font-size: 35px;
					margin-bottom: 0;
					line-height: 1.2;
					font-weight: 900;
				}

				& p {
					font-size: 20px;
					margin-top: .5em;
					font-family: "miller-text", serif;
				}

				& div {
					overflow: hidden;
					position: absolute;
					bottom: 0;
					width: 100%;
				}

				& img {
					width: 100%;
					height: auto;
					transition: .25s all linear;
				}
			}
		}
	}
}