/*----------------------------------------------------------------*\
	CONFIRMATION TEMPLATE
\*----------------------------------------------------------------*/
body.page-template-confirmation {
	& header.post-head {
		padding: 100px 0 0;

		& h1 {
			font-family: "miller-text", serif;
			font-weight: 500;
			font-size: 50px;
		}
	}

	& main {
		&>article {
			margin: 0 0 4em;

			&>p {
				text-align: center;
				font-size: 26px;
			}
		}
	}
}