/*----------------------------------------------------------------*\
	CONTACT TEMPLATE
\*----------------------------------------------------------------*/
body.page-template-contact {
	& .blog-wrap {
		grid-template-columns: 100%;
		margin: 50px auto;

		@media(--800vp) {
			grid-template-columns: 100%;
			margin: 130px auto;
		}

		@media(--1050vp) {
			grid-template-columns: 75% 25%;
		}

		&>main {
			margin: 4em;
			margin-top: 0;
			margin-right: 2em;
			margin-left: 2em;
			order: 2;

			@media(--800vp) {
				margin-right: 4em;
				margin-left: 4em;
			}

			@media(--1050vp) {
				margin-right: 3em;
				margin-left: 4em;
				order: 1;
			}

			& article {
				margin: 0;

				& h1 {
					margin-top: 0;
					line-height: 1.2;
				}

				& hr {
					margin: 4em auto;
				}

				& form {
					margin-top: 2em;

					& #field_5_1 {
						display: flex;
						flex-wrap: wrap;
						margin-bottom: 0;

						& label {
							font-size: 28px;
							font-weight: 500;
							text-transform: inherit;
							padding-right: 1em;
						}

						& .select-selected {
							width: 250px;
							margin-top: 10px;

							@media(--800vp) {
								width: 350px;
							}
						}
					}

					& button {
						margin-top: 0;
					}
				}
			}
		}

		& aside {
			position: relative;
			top: 0;
			height: auto;
			padding: 0 2em;
			order: 1;
			margin-bottom: 4em;

			@media(--800vp) {
				padding: 0 4em;
				height: auto;
			}

			@media(--1050vp) {
				padding: 0 4em 0 0;
				margin-bottom: 0;
				order: 2;
			}

			& .h6 {
				font-size: 18px;

				&:first-of-type {
					margin-top: 0;
				}
			}

			&>a {
				color: var(--Black);
				text-decoration: none;
				font-size: 18px;
				display: inline-block;
				margin-top: 1em;

				&:hover,
				&:focus {
					background-color: var(--Mint);
				}
			}

			&>div {
				padding-top: 1em;

				&>a {
					text-decoration: none;
					display: inline-flex;
					padding-right: 1em;
					position: relative;

					&:hover,
					&:focus {
						&:after {
							opacity: 1;
						}
					}

					&:after {
						content: '';
						position: absolute;
						top: -5px;
						right: -5px;
						left: -5px;
						bottom: -5px;
						background-color: var(--Mint);
						border-radius: 50%;
						width: 34px;
						height: 34px;
						opacity: 0;
						z-index: -1;
					}

					& svg {
						width: 24px;
						height: 24px;
					}
				}
			}
		}
	}
}