/*----------------------------------------------------------------*\
	404 TEMPLATE
\*----------------------------------------------------------------*/
.error404 {
	& header.post-head {
		padding: 100px 2em 0;
		max-width: 1200px;
		margin: 0 auto;

		@media(--800vp) {
			padding: 100px 4em 0;
		}

		& h1 {
			font-size: 32px;
			line-height: 1.2;

			@media(--800vp) {
				font-size: 55px;
			}

			& span {
				display: block;
				font-size: 40px;
				padding-bottom: 20px;

				@media(--800vp) {
					font-size: 70px;
				}
			}
		}
	}

	& main {
		& article {
			margin: 0;

			& img {
				margin: 0 auto;
				display: flex;
				width: 100%;
			}
		}
	}
}