/*----------------------------------------------------------------*\
	FRONT PAGE TEMPLATE
\*----------------------------------------------------------------*/
body.home {
	&.is-active {
		& .primary-navigation {
			& nav {
				&>a svg {
					fill: var(--Black);
				}

				& #menu-primary-navigation li a {
					color: var(--Black);

					&:after {
						background: var(--Black);
					}
				}

				& .hamburger-menu,
				& .hamburger-menu::before,
				& .hamburger-menu::after {
					background: var(--Black);
				}
			}
		}
	}

	& .primary-navigation {
		opacity: 0;
		opacity: 1 \9;
		/*just in case ie*/
		-webkit-animation: fadeIn ease-in 1;
		-moz-animation: fadeIn ease-in 1;
		animation: fadeIn ease-in 1;

		-webkit-animation-fill-mode: forwards;
		-moz-animation-fill-mode: forwards;
		animation-fill-mode: forwards;

		-webkit-animation-duration: 1s;
		-moz-animation-duration: 1s;
		animation-duration: 1s;

		-webkit-animation-delay: 2s;
		-moz-animation-delay: 2s;
		animation-delay: 2s;

		&.is-visible {

			& nav {
				&>a svg {
					fill: var(--Black);
				}

				& #menu-primary-navigation li a {
					color: var(--Black);

					&:after {
						background: var(--Black);
					}
				}

				& .hamburger-menu,
				& .hamburger-menu::before,
				& .hamburger-menu::after {
					background: var(--Black);
				}

				& .hamburger-menu.is-active {
					background-color: rgba(255, 255, 255, 0);
				}
			}
		}

		& nav {
			&>a svg {
				fill: var(--White);
			}

			& #menu-primary-navigation li a {
				color: var(--White);

				&:after {
					background: var(--White);
				}
			}

			& .hamburger-menu,
			& .hamburger-menu::before,
			& .hamburger-menu::after {
				background: var(--White);
			}

			& .hamburger-menu.is-active {
				background-color: rgba(255, 255, 255, 0);
			}
		}
	}

	& header.home-head {
		margin-top: -100px;

		&>div {
			display: flex;
			background-color: #000;
			position: absolute;
			top: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			overflow: hidden;

			& video {
				min-width: 100%;
				min-height: 100%;
				width: 150%;
				height: auto;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);

				@media(--500vp) {
					width: 100%;
				}

				&.intro {
					z-index: 5;
				}
			}
		}
	}

	& main {
		margin-top: calc(100vh + 4em);

		@media(--800vp) {
			margin-top: calc(100vh + 10em);
		}
	}

	& main>article {
		padding: 0 2em;

		@media(--800vp) {
			padding: 0 4em;
		}

		& .h2 {
			font-size: 32px;
			font-weight: 400;
			max-width: 900px;
			margin: 2em auto;
			line-height: 1.2;

			@media(--800vp) {
				font-size: 50px;
			}

			& span {
				position: relative;

				&:after {
					content: '';
					position: absolute;
					top: -35px;
					left: 0;
					background-image: url(../images/scribble.png);
					background-position: center;
					background-repeat: no-repeat;
					background-size: contain;
					width: 100%;
					height: 115px;
					transform: rotate(27deg);

					@media(--800vp) {
						top: -25px;
					}
				}
			}
		}
	}
}