/*----------------------------------------------------------------*\
	SINGLE WORK TEMPLATE
\*----------------------------------------------------------------*/
body.single-work {
	& header.work-head {
		padding: 0 0 50px;

		@media(--800vp) {
			padding: 50px 4rem;
		}
	}

	& main {
		margin-top: 8em;

		&>article {
			margin: 4em 0 1em;

			@media(--800vp) {
				margin: 4em 0;
			}
		}
	}
}

body.single-work.logos-marks-icons {
	& header.work-head>div>div {
		padding: 2em 2em 6em;
	}

	& main {
		margin-top: 100px;

		@media(--800vp) {
			margin-top: 0;
		}

		&>article {
			margin: 0;
		}
	}
}