/*----------------------------------------------------------------*\
	SINGLE POST TEMPLATE
\*----------------------------------------------------------------*/
body.single-post {
	& .blog-wrap {
		@media(--800vp) {
			grid-template-rows: 476px;
		}

		&>header.post-head {
			padding: 2em 6em;

			@media(--800vp) {
				height: 476px;
			}

			&:before {
				z-index: -1;
			}

			& .button.back {
				margin: 0 0 4em;

				&:after {
					opacity: 1;
				}
			}

			& h1 {
				font-size: 35px;
				line-height: 1.2;
				font-weight: 900;
				max-width: 480px;
			}

			& p {
				width: 100%;
				font-size: 18px;

				&:first-of-type {
					margin-top: 1em;
				}
			}

			&>div {
				& a {
					text-decoration: none;
					display: inline-flex;
					margin: 1em 1em 0 0;

					&:hover,
					&:focus {
						& svg {
							fill: var(--Mint);
							stroke: var(--Mint);
						}
					}

					& svg {
						width: 32px;
						height: 32px;
						fill: var(--Black);
					}
				}
			}
		}

		& aside {
			grid-row: 3;

			@media(--800vp) {
				grid-row: span 2;
				position: inherit;
				height: auto;
			}

			& h4 {
				margin-top: 0;
			}
		}

		& main#main-content {
			& article {
				& p {
					font-family: "miller-text", serif;
					margin: 2em 0;
				}

				& img {
					max-width: 100%;
					height: auto;
				}

				& hr {
					&:last-of-type {
						margin: 8em auto 1em;
					}
				}

				& .post-end {
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;

					&>div {
						& a {
							text-decoration: none;
							display: inline-flex;
							margin: 1em 1em 0 0;

							&:hover,
							&:focus {
								& svg {
									fill: var(--Mint);
								}
							}

							& svg {
								width: 32px;
								height: 32px;
								fill: var(--Black);
							}
						}
					}

					& p {
						font-weight: 700;

						& a {
							font-weight: 500;
							font-style: italic;
							text-decoration: none;
						}

						& span {
							&:last-of-type {
								display: none;
							}
						}
					}
				}
			}
		}
	}
}

.path462 {
	fill: var(--Black);
}

/*----------------------------------------------------------------*\
	RELATED POSTS
\*----------------------------------------------------------------*/
section.related-posts {
	margin-top: 2.5em;

	& article.archive-result {
		position: relative;
		margin-bottom: 4em;

		& header {
			& a.category {
				background-color: transparent;
				padding: 0;
			}

			&>a {

				&:hover,
				&:focus {
					&:before {
						opacity: 1;
					}
				}

				&:before {
					content: '';
					position: absolute;
					bottom: -2em;
					left: 0;
					background-image: url(../images/arrow.svg);
					background-position: 50%;
					background-repeat: no-repeat;
					background-size: contain;
					width: 2em;
					height: 2em;
					opacity: 0;
					transition: .25s all linear;
				}

				& h2 {
					font-size: 25px;
					font-weight: 700;
					margin: .5rem 0 1rem;
				}
			}
		}

		& p {
			font-size: 15px;
			font-style: italic;
			ine-height: 1.65;
		}
	}
}