/*-----------------------------------*\
	PRIMARY NAVIGATION
\*-----------------------------------*/
.primary-navigation {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: transparent;
	transition: .4s all linear;
	z-index: 9999;
	box-shadow: none;

	&.is-visible {
		padding: 1em 0;

		@media(--800vp) {
			padding: 0;
		}

		& nav {
			padding-top: 0;
		}
	}

	&.not-visible {
		top: -120px;
	}

	& nav {
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
		max-width: 1200px;
		width: 90vw;
		padding-top: 2em;
		transition: .25s all linear;

		@media(--800vp) {
			align-items: center;
			padding-top: 3em;
		}

		& button {
			display: block;
			background-color: transparent;
			padding: 0;
			margin: 0;
			width: 24px;
			height: 16px;
			z-index: 99;

			@media(--800vp) {
				display: none;
			}
		}

		&>a {
			z-index: 99;
			display: flex;

			& svg {
				width: 146px;
				height: 32px;
				fill: #010101;
			}
		}

		& #menu-primary-navigation {
			display: none;

			@media(--800vp) {
				display: flex;
			}
		}

		& #menu-mobile-navigation {
			display: flex;

			@media(--800vp) {
				display: none;
			}
		}

		& #menu-primary-navigation,
		& #menu-mobile-navigation {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			align-content: center;
			justify-content: space-between;
			margin: 0;
			padding: 0;
			list-style: none;
			width: 100%;
			height: 100vh;
			position: absolute;
			top: -100vh;
			left: 0;
			background-color: var(--Yellow);
			z-index: 98;
			transition: .25s all linear;
			padding-left: 2em;

			@media(--800vp) {
				position: inherit;
				background-color: inherit;
				width: auto;
				height: inherit;
				padding-left: 0;
			}

			&.is-active {
				top: 0;

				& li {
					& a {
						opacity: 1;
					}
				}
			}

			& li {
				padding: .5em 1.5em;
				width: 100%;

				@media(--800vp) {
					padding: 1em 1.5em;
					width: inherit;
				}

				&.active {
					& a {
						&:after {
							width: 100%;
						}
					}
				}

				& a {
					font-family: "tenso", sans-serif;
					font-weight: 700;
					font-size: 30px;
					color: var(--Black);
					text-decoration: none;
					position: relative;
					transition: all .5s linear;
					opacity: 0;

					@media(--800vp) {
						font-weight: 500;
						font-size: 19px;
						opacity: 1;
					}

					&:hover,
					&:focus {
						&:after {
							width: 100%;
						}
					}

					&:after {
						content: "";
						height: 4px;
						width: 0;
						background: var(--Black);
						position: absolute;
						bottom: -10px;
						left: 0;
						transition: all .25s ease-in-out;
					}
				}
			}
		}
	}
}

/*----------------------------------------------------------------*\
		HAMBURGER MENU
\*----------------------------------------------------------------*/
.hamburger-menu,
.hamburger-menu::after,
.hamburger-menu::before {
	width: 24px;
	height: 2px;
}

.hamburger-menu::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 8px;
	background: var(--Black);
	transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu::after {
	content: "";
	position: absolute;
	left: 0;
	top: 8px;
	background: var(--Black);
	transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu {
	display: block;
	position: relative;
	z-index: 11;
	background: var(--Black);
	transition: all 0ms 300ms;
	float: right;
	order: 1;

	@media(--1050vp) {
		display: none
	}
}

.hamburger-menu.is-active {
	background-color: rgba(255, 255, 255, 0);
}

.hamburger-menu.is-active::after {
	top: 0;
	transform: rotate(45deg);
	transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger-menu.is-active::before {
	bottom: 0;
	transform: rotate(-45deg);
	transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}